/*
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
*/
.top-paddding{
  margin-top: 20px;
  .title{
    font-size: 20px;
    font-weight: bold;
  }
}
