/*
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020
*/
.top-paddding{
  margin-top: 20px;
  .title{
    font-size: 20px;
    font-weight: bold;
  }
}
