<!-- 

  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020

 -->
<ion-item (click)="selected('today')">
  <p style="font-size: 14px; font-weight: bold;">{{util.getString('Today')}} {{today}}</p>
</ion-item>

<ion-item (click)="selected('tomorrow')">
  <p style="font-size: 14px; font-weight: bold;">{{util.getString('Tomorrow')}} {{nextDay}}</p>
</ion-item>

<ion-item (click)="selected('custom')">
  <p style="font-size: 14px; font-weight: bold;">{{util.getString('Custom')}} - Set Date & Time</p>
</ion-item>