/*
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
*/
.couponDesc{
    margin: 0px;
    .code{
        font-weight: bold;
        font-size: 14px;
    }
    .desc{
        font-size: 12px;
    }
}