<!--
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>All Stores</h5>
            </div>

            <div class="card-body reset-table p-t-0">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <button style="float: right;" type="button" (click)="createNew()"
                            class="btn btn-danger" style="float: left; padding: 5px 15px;">+ CREATE</button>
                    </div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText"
                            (input)="filter($event.target.value)" (keydown.enter)="search()">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-uppercase">
                                <th>Cover</th>
                                <th>Name</th>
                                <th>City</th>
                                <th>Owner</th>
                                <th>Time</th>
                                <th>Rating</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dummy;">
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                            </tr>
                            <tr
                                *ngFor="let item of stores  | paginate: {id:'pagin1', itemsPerPage: 10, currentPage: page };let i = index;">
                                <td><a href="javascript:;"><img class="img-responsive"
                                            style="height: 70px;width: 100px; border-radius: 10px;"
                                            [src]="api.mediaURL+ item.cover" onError="this.src='assets/images/store.png'"
                                            alt="chat-user"></a>
                                </td>
                                <td>
                                    <label style="font-weight: bold;"> {{item.name}} </label><br>
                                    {{item.cusine}}
                                </td>

                                <td>
                                    <div style="width: 100px;white-space: pre-wrap;">
                                        {{item.city_name ? item.city_name : 'None'}}
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 100px;white-space: pre-wrap;">
                                        {{item.owner_name ? item.owner_name : 'None'}}
                                    </div>
                                </td>
                                <td>{{getTime(item.open_time)}} - {{getTime(item.close_time)}} </td>
                                <td>{{item.ratings}}</td>
                                <td><button type="button" [className]="getClass(item.status)"
                                    (click)="changeStatus(item)">{{item.status === '1' ? 'Active':'Inactive'}}</button>
                                </td>
                                <td><button type="button" (click)="openRest(item)"
                                        class="btn btn-success btn-round btn-outline-success">Manage</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="has-text-centered">
                    <pagination-controls id="pagin1" (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>