<!-- 

  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020

 -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{name}} 's {{util.getString('Rating')}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="addNew()" expand="full">
    {{util.getString('Add New Rating')}}
  </ion-button>
  <div class="mainItems">
    <ion-item *ngFor="let item of dummy" lines="none">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated style="width: 100%;height: 100px;"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item *ngFor="let item of ratings" lines="none">
      <ion-thumbnail slot="start">
        <img [src]="api.mediaURL+ item.cover" alt="image" onError="this.src='assets/imgs/user.png'">
      </ion-thumbnail>
      <ion-label>
        <span class="name"> {{item.fname}} {{item.lname}}</span> <br>
        <span class="msg">{{item.msg}} </span> <br>
        <span class="msg"> {{getDate(item.timestamp)}} </span>
      </ion-label>

    </ion-item>
  </div>
</ion-content>