<!-- 

  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020

 -->
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label> {{util.getString('Orders')}} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="chatbubble-outline"></ion-icon>
      <ion-label> {{util.getString('Message')}} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label> {{util.getString('Review')}} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label> {{util.getString('Analytics')}} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label> {{util.getString('Account')}} </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>