/*
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
*/
ion-tabs{
	ion-tab-bar {
		height: 45px;
		--border: 0;
		--background: var(--ion-color-light);
		border-bottom: 1px solid #d4d4d4;
		ion-tab-button {
			--background: var(--ion-color-light);
			ion-label {  
				font-size: 11px;
			}
		}

	}
}

ion-icon{
	font-size: 18px;
}

.menu-logo {
	padding-left: 7px;
	height: 55px;
    width: auto;
}
