/*
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
*/

ion-content {
    ion-item {
      ion-avatar {
        height: 50px;
        width: 50px;
      }
    }
  }