<!-- 

  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020

 -->

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="homeRefresh($event)">
    <ion-refresher-content
      style="padding-top: 30px;"
      closeDuration="1000"
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-slides *ngIf="homeLayout == '1'" class="headerSlides" [options]="slideHead" >
    <ion-slide *ngFor="let item of banners">
      <div class="whole" (click)="openLink(item)">
        <div class="image" [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/banner.png)'}">
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="flx">
    <ion-searchbar [placeholder]="util.getString('Search...')" [(ngModel)]="terms" inputmode="text" type="search"
      (keyup.enter)="search(q.value)" (ionChange)="onSearchChange($event)" #q [debounce]="250" mode="ios"
      showCancelButton="never">
    </ion-searchbar>
  </div>
  <div class="searchList" *ngIf="products?.length" style="margin-bottom: 15px;">
    <ion-item *ngFor="let item of products" (click)="openStore(item)">
      <img [src]="api.mediaURL + item.cover" alt="..." (error)="'assets/imgs/store.png'" 
      style="object-fit: cover;
      border-radius: 50px;
      border: 1px solid #ededed;
      height: 30px;
      width: 30px;
      padding: 0 10px;">
      <ion-label style="padding: 10px;">{{item.name}}</ion-label>
      <ion-icon name="arrow-redo-outline" slot="end"></ion-icon>
    </ion-item>
  </div>
  
  <div class="main_content_div">

    <!-- START CATEGORIES -->
    <div class="segment-title" *ngIf="homeLayout == '0'">
      <ion-label class="all"> {{util.getString('All Collaborations')}} </ion-label>
      <ion-label class="view" (click)="viewAllParentCategory()">{{util.getString('View All')}}<ion-icon
          name="chevron-forward-outline" color="primary">
        </ion-icon>
      </ion-label>
    </div>
    <div class="sliders">
      <div class="categoryIcon" *ngFor="let item of categories" (click)="viewSubCategories(item)">
        <div class="imgs" [ngStyle]="{'background-image':'url('+ api.mediaURL+item.cover+'),url(assets/imgs/category.png)'}"></div>
        <ion-label class="name">{{ util.safeText(item.name, 15, true, '') }}</ion-label>
      </div>
      <div *ngFor="let item of dummyCates" class="categoryIcon" style="margin: 0px 10px;">
        <ion-skeleton-text animated style="width: 50px;height: 50px;border-radius: 50%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%;height:10px;"></ion-skeleton-text>
      </div>
    </div>
    <!-- END CATEGORIES -->

    <!-- START BILLBOARDS -->
    <div *ngIf="homeLayout == '0' && banners.length > 0 && dummyBanners.length == 0" class="segment-title" style="margin-top: 15px;">
      <ion-label class="all"> {{util.getString('Digital Billboards')}} </ion-label>
      <ion-label class="view" (click)="allOffers()">{{util.getString('More')}}
        <div class="ion-activatable">
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </div>
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-label>
    </div>
    <div *ngIf="homeLayout == '0' && banners.length > 0 && dummyBanners.length == 0" class="slider_div">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let item of dummyBanners">
          <div class="card">
            <ion-skeleton-text animated style="width: 100%; height: 150px;"></ion-skeleton-text>
          </div>
        </ion-slide>
        <ion-slide *ngFor="let item of banners">
          <div class="card">
            <div class="back_image" [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/banner.png)'}"
              (click)="openLink(item)">
              <!-- <div class="overlay_div" *ngIf="item.message">
                <ion-label> {{item.message}} </ion-label>
              </div> -->
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- END BILLBOARDS -->

    <!-- START TOP PRODUCTS -->
    <div *ngIf="topProducts.length > 0 && dummyTopProducts.length == 0" class="segment-title" style="margin-top: 15px;">
      <ion-label class="all"> {{util.getString('Trending Products')}} </ion-label>
      <ion-label class="view" (click)="topicked()">{{util.getString('More')}}
        <div class="ion-activatable">
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </div>
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-label>
    </div>
    <div *ngIf="topProducts.length > 0 && dummyTopProducts.length == 0" class="listView">
      <ion-slides [options]="slideTops">
        <ion-slide *ngFor="let item of dummyTopProducts">
          <div class="box">
            <ion-skeleton-text class="preview" animated></ion-skeleton-text>
            <ion-skeleton-text class="title" animated></ion-skeleton-text>
            <ion-skeleton-text class="store" animated></ion-skeleton-text>
          </div>
        </ion-slide>
        <ion-slide *ngFor="let item of topProducts;let i = index;">
          <div class="box">
            <div class="image_div" (click)="goToSingleProduct(item)" [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/product.png)'}">
              <div *ngIf="item.in_stock === '0'" class="notInStock">
                <ion-label class="text"> {{util.getString('Out of Stock')}} </ion-label>
              </div>
            </div>
            <div class="details">
              <ion-label class="pro_name" (click)="goToSingleProduct(item)">
                {{ util.safeText(item.name, 20, true, '') }}
                <img src="assets/imgs/normal.png" class="kind" alt="Verified" *ngIf="item.verified_at == null">
                <img src="assets/imgs/verified.png" class="kind" alt="Normal" *ngIf="item.verified_at != null">
              </ion-label>
              <ion-label class="itemsKind">
                <span class="quantity" *ngIf="item.have_gram === '1'"> {{item.gram}} {{util.getString('g')}} </span>
                <span class="quantity" *ngIf="item.have_kg === '1'"> {{item.kg}} {{util.getString('kg')}} </span>
                <span class="quantity" *ngIf="item.have_liter ==='1'"> {{item.liter}} {{util.getString('ltr')}} </span>
                <span class="quantity" *ngIf="item.have_ml ==='1'"> {{item.ml}} {{util.getString('ml')}} </span>
                <span class="quantity" *ngIf="item.have_pcs === '1'"> {{item.pcs}} {{util.getString('pc(s)')}} </span>
              </ion-label>
              <ion-label class="pro_price" (click)="goToSingleProduct(item)">
                {{util.currecny}} {{ item.sell_price }}
              </ion-label>
              <ion-label *ngIf="item.discount_type !=='none' && item.discount > 0" class="pro_discount" (click)="goToSingleProduct(item)">
                <label style="text-decoration: line-through;">
                  {{util.currecny}} {{ item.orig_price }}
                </label> 
                {{ item.discount_type == 'percent' ? '' : util.currecny }} 
                {{ item.discount_type == 'percent' ? item.discount : item.discount }}
                {{ item.discount_type == 'percent' ? '%' : 'off' }}
              </ion-label>
              <div class="variant">
                <ion-label *ngFor="let parent_var of item.variations;let pvar_id = index;" (click)="variant(item,pvar_id)" class="selecter ion-activatable">
                  <span style="width: -webkit-fill-available; padding: 2px 5px;">
                    <span> 
                      {{ parent_var && parent_var.items[parent_var.current].title ? ' * ' + parent_var.items[parent_var.current].title : ''}} &nbsp;&nbsp; 
                    </span>
                    <span class="price_lbl" style="float: right;"> 
                      <span *ngIf="parent_var.items[parent_var.current].price == 0 && parent_var.items[parent_var.current].discount == 0">
                        FREE
                      </span>
                      <span *ngIf="parent_var.items[parent_var.current].price > 0 && parent_var.items[parent_var.current].discount == 0">
                        {{util.cside ==='left' ? util.currecny : "" }}
                        {{parent_var.items[parent_var.current].price.toFixed(2)}}
                        <!-- TODO: {{util.cside ==='right' ? "" : util.currecny }} -->
                      </span>
                      <span *ngIf="parent_var.items[parent_var.current].price > 0 && parent_var.items[parent_var.current].discount > 0">
                        {{util.cside ==='left' ? util.currecny : "" }}
                        {{
                          (parent_var.items[parent_var.current].price - (parent_var.items[parent_var.current].price*(parent_var.items[parent_var.current].discount/100))).toFixed(2)
                        }}
                        <!-- TODO: {{util.cside ==='right' ? "" : util.currecny }} -->
                      </span>
                    </span>
                  </span>
                  <ion-icon slot="start" name="caret-down-outline"></ion-icon>
                  <ion-ripple-effect type="bounded"></ion-ripple-effect>
                </ion-label>
              </div>
              <div class="small_flex">
                <div class="btnBtm" *ngIf="!cart.checkProductInCart(item.uuid) && item.in_stock === '1'">
                  <div class="ion-activatable ripple-parent" (click)="addToCart(item,i)">
                    {{util.getString('Add to Cart')}}
                    <ion-ripple-effect></ion-ripple-effect>
                  </div>
                </div>
                <div *ngIf="item.in_stock !== '1'" style="height:30px"></div>
                <div class="abs_add" *ngIf="cart.checkProductInCart(item.uuid)">
                  <img src="assets/imgs/remove.png" (click)="remove(item,i)">
                  <ion-label>{{getQuanity(item.uuid)}}</ion-label>
                  <img src="assets/imgs/add.png" (click)="add(item,i)">
                </div>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- START TOP PRODUCTS -->

    <!-- START BETWEEN BANNER -->
    <div class="slider_div" *ngIf="betweenBanners.length > 0 && betweenDummy.length == 0">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let item of betweenDummy">
          <div class="card">
            <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          </div>
        </ion-slide>
        <ion-slide *ngFor="let item of betweenBanners">
          <div class="card">
            <div class="back_image" [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/banner.png)'}"
              (click)="openLink(item)" style="height: 24vw;">
              <!-- <div class="overlay_div" *ngIf="item.message">
                <ion-label> {{item.message}} </ion-label>
              </div> -->
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- END BETWEEN BANNER -->

    <!-- START TOP STORES -->
    <div *ngIf="featuredStores.length > 0 && dummyFeaturedStores.length == 0" class="segment-title" style="margin-top: 15px;">
      <ion-label class="all"> {{util.getString('Featured Stores')}} </ion-label>
      <ion-label class="view" (click)="topStores()">{{util.getString('More')}}
        <div class="ion-activatable">
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </div>
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-label>
    </div>
    <div *ngIf="featuredStores.length > 0 && dummyFeaturedStores.length == 0" class="topProducts">
      <ion-list>
        <ion-item lines="none" *ngFor="let item of dummyFeaturedStores">
          <div class="content_div">
            <div class="card_div">
              <div class="image_div">
                <ion-skeleton-text animated></ion-skeleton-text>
              </div>
              <div class="desc_div">
                <ion-skeleton-text animated class="pro_name"></ion-skeleton-text>
                <ion-skeleton-text animated class="pro_detail"></ion-skeleton-text>
                <ion-skeleton-text animated class="price_lbl"></ion-skeleton-text>
                <ion-skeleton-text animated class="small_flex"></ion-skeleton-text>
              </div>
            </div>
          </div>
        </ion-item>
        <ion-item *ngFor="let item of featuredStores;let i = index;">
          <div class="allstore_div">
            <div class="card_div" style="border-left: 5px solid var(--ion-color-primary);">
              <div class="image_div" (click)="openStore(item)" style="background-repeat: no-repeat; background-position: center; background-size: cover;"
                [ngStyle]="{'background-image':'url('+ api.mediaURL+item.cover+'),url(assets/imgs/store.png)'}">
                <div *ngIf="!item.isOpen || item.isClosed == '1'" class="statusCheck">
                  <ion-label class="text"> {{util.getString('Store Closed')}} </ion-label>
                </div>
              </div>
              <div class="desc_div" (click)="openStore(item)">
                <ion-label class="pro_name">
                  {{ util.safeText(item.name, 55, true, '') }}</ion-label>
                <ion-label class="pro_detail">
                  {{ util.safeText(item.address, 40, true, '') }}
                </ion-label>
                <ion-label class="price_lbl"> {{getTime(item.open_time)}} - {{getTime(item.close_time)}} </ion-label>
                <div class="small_flex">
                  <div class="btnBtm">
                    <div class="ion-activatable ripple-parent">
                      View Store
                      <ion-ripple-effect></ion-ripple-effect>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <!-- END TOP PRODUCTS -->
    
    <!-- START BOTTOM BANNER -->
    <div class="slider_div" *ngIf="bottomBanners.length > 0 && bottomDummy.length == 0 && featuredStores.length > 0 && dummyFeaturedStores.length == 0">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let item of bottomDummy">
          <div class="card">
            <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          </div>
        </ion-slide>
        <ion-slide *ngFor="let item of bottomBanners">
          <div class="card">
            <div class="back_image" [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/banner.png)'}"
              (click)="openLink(item)" style="height: 24vw;">
              <!-- <div class="overlay_div" *ngIf="item.message">
                <ion-label> {{item.message}} </ion-label>
              </div> -->
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- END BOTTOM BANNER -->

    <!--  START INFINITY STORES -->
    <div class="segment-title" style="margin-top: 15px;">
      <ion-label class="all"> {{util.getString('Official Stores')}} </ion-label>
      <!-- <ion-label class="view" (click)="topStores()">{{util.getString('More')}}
        <div class="ion-activatable">
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </div>
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-label> -->
    </div>
    <ion-list *ngIf="haveStores == true">
      <ion-item lines="none" *ngFor="let item of dummyStores">
        <div class="allstore_div">
          <div class="card_div">
            <div class="image_div">
              <ion-skeleton-text animated></ion-skeleton-text>
            </div>
            <div class="desc_div">
              <ion-skeleton-text animated class="pro_name"></ion-skeleton-text>
              <ion-skeleton-text animated class="pro_detail"></ion-skeleton-text>
              <ion-skeleton-text animated class="price_lbl"></ion-skeleton-text>
              <ion-skeleton-text animated class="small_flex"></ion-skeleton-text>
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item *ngFor="let item of stores;let i = index;">
        <div class="allstore_div">
          <div class="card_div">
            <div class="image_div" (click)="openStore(item)" style="background-repeat: no-repeat; background-position: center; background-size: cover;"
              [ngStyle]="{'background-image':'url('+ api.mediaURL+item.cover+'),url(assets/imgs/store.png)'}">
              <div *ngIf="!item.isOpen || item.isClosed == '1'" class="statusCheck">
                <ion-label class="text"> {{util.getString('Store Closed')}} </ion-label>
              </div>
            </div>
            <div class="desc_div" (click)="openStore(item)">
              <ion-label class="pro_name">
                {{ util.safeText(item.name, 9, true, '') }}</ion-label>
              <ion-label class="pro_detail">
                {{ util.safeText(item.address, 40, true, '') }}
              </ion-label>
              <ion-label class="price_lbl"> {{getTime(item.open_time)}} - {{getTime(item.close_time)}} </ion-label>
              <div class="small_flex">
                <div class="btnBtm">
                  <div class="ion-activatable ripple-parent">
                    View Store
                    <ion-ripple-effect></ion-ripple-effect>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <div *ngIf="haveStores == true && no_stores_follows == true" style="display: flex; flex-direction: column; margin: 0 0 20px;">
      <p class="ion-text-center"> {{util.getString('- Nothing Follows -')}} </p>
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [ngStyle]="{'display': no_stores_follows ? 'none':'block'}" style="padding: 20px;">
      <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Please wait...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div *ngIf="haveStores == false" class="nothing">
      <img src="assets/imgs/nothing.png" alt="" srcset="" class="imgs">
      <p class="ion-text-center">Sorry, no stores near you! <br>Try selecting the another city.</p>
    </div>
    <!--  END INFINITY STORES -->

  </div>

  
</ion-content>