<!-- 

  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020

 -->

<ion-header class="ion-no-border">
  <ion-toolbar color="primary" style="background: var(--ion-color-light); padding: 5px 15px;">
      <ion-thumbnail slot="start">
        <img src="assets/imgs/logo.png" class="menu-logo">
      </ion-thumbnail>
      <div slot="end" *ngIf="currentCity" style="width: 50vw;height: auto;">
        <strong style="padding: 10px;" (click)="changeCity()">
          {{ currentCity }}
          <ion-icon  name="location" style="font-size: 1.7em;" ></ion-icon>
        </strong>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flx">
    <ion-searchbar [placeholder]="util.getString('Search...')" [(ngModel)]="terms" inputmode="text" type="search"
      (keyup.enter)="search(q.value)" (ionChange)="onSearchChange($event)" #q [debounce]="250" mode="ios"
      showCancelButton="never">
    </ion-searchbar>
  </div>
  <div class="searchList" *ngIf="products?.length">
    <ion-item *ngFor="let item of products" (click)="goToSingleProduct(item)">
      <ion-label>{{item.name}}</ion-label>
      <ion-icon name="arrow-redo-outline" slot="end"></ion-icon>
    </ion-item>
  </div>
  
  <div class="main_content_div" *ngIf="haveStores === true">

    <!-- START CATEGORIES -->
    <div class="segment-title">
      <ion-label class="all"> {{util.getString('All Collaborations')}} </ion-label>
      <ion-label class="view" (click)="viewAllParentCategory()">{{util.getString('View All')}}<ion-icon
          name="chevron-forward-outline" color="primary">
        </ion-icon>
      </ion-label>
    </div>
    <div class="sliders">
      <div class="categoryIcon" *ngFor="let item of parentCategories" (click)="viewSubCategories(item)">
        <div class="imgs">
          <img [src]="api.mediaURL + item.cover" alt="..." (error)="assets/imgs/category.png" style="border-radius: 50px;" class="icon">
        </div>
        <ion-label class="name">{{ (item.name.length>15)? (item.name | slice:0:15)+'..':(item.name) }}</ion-label>
      </div>
      <div *ngFor="let item of dummyCates" class="categoryIcon" style="margin: 0px 10px;">
        <ion-skeleton-text animated style="width: 50px;height: 50px;border-radius: 50%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%;height:10px;"></ion-skeleton-text>
      </div>
    </div>
    <!-- END CATEGORIES -->

    <!-- START BILLBOARDS -->
    <div class="segment-title" style="margin-top: 15px;">
      <ion-label class="all"> {{util.getString('Digital Billboards')}} </ion-label>
      <ion-label class="view" (click)="allOffers()">{{util.getString('More')}}
        <div class="ion-activatable">
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </div>
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-label>
    </div>
    <div class="slider_div">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let item of dummyBanners">
          <div class="card">
            <ion-skeleton-text animated style="width: 100%; height: 150px;"></ion-skeleton-text>
          </div>
        </ion-slide>
        <ion-slide *ngFor="let item of banners">
          <div class="card">
            <div class="back_image" [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/product.png)'}"
              (click)="openLink(item)">
              <!-- <div class="overlay_div" *ngIf="item.message">
                <ion-label> {{item.message}} </ion-label>
              </div> -->
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- END BILLBOARDS -->

    <!-- START TOP PRODUCTS -->
    <div class="segment-title" style="margin-top: 15px;">
      <ion-label class="all"> {{util.getString('Trending Products')}} </ion-label>
      <ion-label class="view" (click)="topicked()">{{util.getString('More')}}
        <div class="ion-activatable">
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </div>
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-label>
    </div>
    <div class="listView">
      <ion-slides [options]="slideTops">
        <ion-slide *ngFor="let item of dummyTopProducts">
          <div class="box">
            <ion-skeleton-text class="preview" animated></ion-skeleton-text>
            <ion-skeleton-text class="title" animated></ion-skeleton-text>
            <ion-skeleton-text class="store" animated></ion-skeleton-text>
          </div>
        </ion-slide>
        <ion-slide *ngFor="let item of topProducts;let i = index;">
          <div class="box">
            <div class="image_div" (click)="goToSingleProduct(item)"
              [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/product.png)'}">
              <div class="percent" *ngIf="item.discount !== '0'"> {{item.discount}}% </div>
              <div *ngIf="item.in_stoke === '0'" class="notInStoke">
                <ion-label class="text"> {{util.getString('Out of Stoke')}} </ion-label>
              </div>
              <img src="assets/imgs/normal.png" class="kind" alt="Veg" *ngIf="item.kind === '1'">
              <img src="assets/imgs/verified.png" class="kind" alt="Non Veg" *ngIf="item.kind === '0'">
            </div>
            <div class="details">
              <ion-label class="pro_name" (click)="goToSingleProduct(item)">
                {{ (item.name.length>20)? (item.name | slice:0:20)+'..':(item.name) }}</ion-label>
              <div *ngIf="item.size ==='1'" class="variant" (click)="variant(item,i)">
                <ion-label class="selecter ion-activatable">
                  <span>
                    <span> {{
                    item.variations && item.variations[0] && item.variations[0].items[item.variant] &&
                    item.variations[0].items[item.variant].title ?
                    item.variations[0].items[item.variant].title : ''}} </span>
                    -
                    <span *ngIf="util.cside ==='left'" class="price_lbl"> {{util.currecny}}
                      <span class="original" *ngIf="item.variations && item.variations[0] && item.variations[0].items[item.variant] &&
                       item.variations[0].items[item.variant].discount">
                        {{ item.variations && item.variations[0] && item.variations[0].items[item.variant] &&
                       item.variations[0].items[item.variant].price ?
                       item.variations[0].items[item.variant].price : 0}}
                      </span>
                      <span class="sell" *ngIf="item.variations && item.variations[0] && item.variations[0].items[item.variant] &&
                      item.variations[0].items[item.variant].discount"> {{item.variations && item.variations[0] && item.variations[0].items[item.variant] &&
                      item.variations[0].items[item.variant].discount ?
                      item.variations[0].items[item.variant].discount : 0}}
                      </span>
                      <span
                        *ngIf="item.variations && item.variations[0] && item.variations[0].items[item.variant] &&
                      item.variations[0].items[item.variant].discount === 0 && !item.variations[0].items[item.variant].discount">
                        {{ item.variations && item.variations[0] && item.variations[0].items[item.variant] &&
                       item.variations[0].items[item.variant].price ?
                       item.variations[0].items[item.variant].price : 0}}
                      </span>

                    </span>
                    <span *ngIf="util.cside ==='right'">
                      <span class="original" *ngIf="item.variations && item.variations[0] && item.variations[0].items[item.variant] &&
                        item.variations[0].items[item.variant].discount">
                        {{ item.variations && item.variations[0] && item.variations[0].items[item.variant] &&
                        item.variations[0].items[item.variant].price ?
                        item.variations[0].items[item.variant].price : 0}}
                      </span>
                      <span class="sell" *ngIf="item.variations && item.variations[0] && item.variations[0].items[item.variant] &&
                      item.variations[0].items[item.variant].discount"> {{item.variations && item.variations[0] && item.variations[0].items[item.variant] &&
                      item.variations[0].items[item.variant].discount ?
                      item.variations[0].items[item.variant].discount : 0}}
                      </span>
                      <span
                        *ngIf="item.variations && item.variations[0] && item.variations[0].items[item.variant] &&
                        item.variations[0].items[item.variant].discount === 0 && !item.variations[0].items[item.variant].discount">
                        {{ item.variations && item.variations[0] && item.variations[0].items[item.variant] &&
                        item.variations[0].items[item.variant].price ?
                        item.variations[0].items[item.variant].price : 0}}
                      </span>
                      {{util.currecny}}
                    </span>
                  </span>
                  <ion-icon slot="start" name="caret-down-outline"></ion-icon>
                  <ion-ripple-effect type="bounded"></ion-ripple-effect>
                </ion-label>
              </div>
              <ion-label class="itemsKind" *ngIf="item.size ==='0'">
                <span *ngIf="item.have_gram === '1'"> {{item.gram}} {{util.getString('grams')}} </span>
                <span *ngIf="item.have_kg === '1'"> {{item.kg}} {{util.getString('kg')}} </span>
                <span *ngIf="item.have_liter ==='1'"> {{item.liter}} {{util.getString('ltr')}} </span>
                <span *ngIf="item.have_ml ==='1'"> {{item.ml}} {{util.getString('ml')}} </span>
                <span *ngIf="item.have_pcs === '1'"> {{item.pcs}} {{util.getString('pcs')}} </span>
              </ion-label>
              <div *ngIf="item.size ==='0'">
                <ion-label class="price_lbl" *ngIf="item.discount === '0' && util.cside ==='left'"> {{util.currecny}}
                  {{item.original_price}} </ion-label>
                <ion-label class="price_lbl" *ngIf="item.discount === '0' && util.cside ==='right'">
                  {{item.original_price}}
                  {{util.currecny}}</ion-label>
                <ion-label class="price_lbl" *ngIf="item.discount !== '0'" (click)="goToSingleProduct(item)">
                  <span class="original" *ngIf="util.cside ==='left'"> {{util.currecny}} {{item.original_price}} </span>
                  <span class="sell" *ngIf="util.cside ==='left'">{{util.currecny}} {{item.sell_price}} </span>
                  <span class="original" *ngIf="util.cside ==='right'"> {{item.original_price}} {{util.currecny}}</span>
                  <span class="sell" *ngIf="util.cside ==='right'"> {{item.sell_price}} {{util.currecny}}</span>
                </ion-label>
              </div>
              <div class="small_flex">
                <div class="btnBtm" *ngIf="!cart.itemId.includes(item.id) && item.in_stoke === '1'">
                  <div class="ion-activatable ripple-parent" (click)="addToCart(item,i)">
                    {{util.getString('Add to Cart')}}
                    <ion-ripple-effect></ion-ripple-effect>
                  </div>
                </div>
                <div *ngIf="item.in_stoke !== '1'" style="height:30px"></div>
                <div class="abs_add" *ngIf="cart.itemId.includes(item.id)">
                  <img src="assets/imgs/remove.png" (click)="remove(item,i)">
                  <ion-label>{{getQuanity(item.id)}}</ion-label>
                  <img src="assets/imgs/add.png" (click)="add(item,i)">
                </div>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- START TOP PRODUCTS -->

    <!-- START BETWEEN BANNER -->
    <div class="slider_div" *ngIf="!betweenDummy?.length && betweenBanners?.length">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let item of betweenDummy">
          <div class="card">
            <ion-skeleton-text animated style="width: 100%;height: 100px;"></ion-skeleton-text>
          </div>
        </ion-slide>
        <ion-slide *ngFor="let item of betweenBanners">
          <div class="card">
            <div class="back_image" [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/product.png)'}"
              (click)="openLink(item)" style="height: 100px;">
              <!-- <div class="overlay_div" *ngIf="item.message">
                <ion-label> {{item.message}} </ion-label>
              </div> -->
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- END BETWEEN BANNER -->

    <!-- START TOP STORES -->
    <div class="segment-title" style="margin-top: 15px;">
      <ion-label class="all"> {{util.getString('Brightest Merchants')}} </ion-label>
      <ion-label class="view" (click)="topStores()">{{util.getString('More')}}
        <div class="ion-activatable">
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </div>
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-label>
    </div>
    <div class="topProducts">
      <ion-list>
        <ion-item lines="none" *ngFor="let item of dummyTopStores">
          <div class="content_div">
            <div class="card_div">
              <div class="image_div">
                <ion-skeleton-text animated></ion-skeleton-text>
              </div>
              <div class="desc_div">
                <ion-skeleton-text animated class="pro_name"></ion-skeleton-text>
                <ion-skeleton-text animated class="pro_detail"></ion-skeleton-text>
                <ion-skeleton-text animated class="price_lbl"></ion-skeleton-text>
                <ion-skeleton-text animated class="small_flex"></ion-skeleton-text>
              </div>
            </div>
          </div>
        </ion-item>
        <!-- <ion-slide *ngFor="let item of stores;let i = index;">
          <div class="content_div">
            <div class="card_div">
              <div class="image_div" (click)="openStore(item)"
                [ngStyle]="{'background-image':'url('+ api.mediaURL+item.cover+'),url(assets/imgs/store.png)'}">
                <img src="assets/imgs/open.png" class="isOpen" alt="Veg" *ngIf="item.isOpen && item.isClosed ==='1'">
                <img src="assets/imgs/close.png" class="isOpen" alt="Non Veg"
                  *ngIf="!item.isOpen || item.isClosed === '0'">
              </div>
              <div class="desc_div" (click)="openStore(item)">
                <ion-label class="pro_name">
                  {{ (item.name.length>12)? (item.name | slice:0:12)+'..':(item.name) }}</ion-label>
                <ion-label class="pro_detail">
                  {{ (item.address.length>20)? (item.address | slice:0:20)+'..':(item.address) }}
                </ion-label>
                <ion-label class="price_lbl"> {{getTime(item.open_time)}} - {{getTime(item.close_time)}} </ion-label>

                <div class="small_flex">
                  <div class="btnBtm">
                    <div class="ion-activatable ripple-parent">
                      {{util.getString('View')}}
                      <ion-ripple-effect></ion-ripple-effect>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-slide> -->
      </ion-list>
    </div>
    <!-- END TOP PRODUCTS -->
    
    <!-- START BOTTOM BANNER -->
    <div class="slider_div" *ngIf="!bottomDummy?.length && bottomBanners?.length">
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let item of bottomDummy">
          <div class="card">
            <ion-skeleton-text animated style="width: 100%;height: 120px;"></ion-skeleton-text>
          </div>
        </ion-slide>
        <ion-slide *ngFor="let item of bottomBanners">
          <div class="card">
            <div class="back_image" [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/product.png)'}"
              (click)="openLink(item)" style="height: 100px;">
              <div class="overlay_div" *ngIf="item.message">
                <ion-label> {{item.message}} </ion-label>
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- END BOTTOM BANNER -->

    <!--  START INFINITY STORES -->
    <div class="segment-title" style="margin-top: 15px;">
      <ion-label class="all"> {{util.getString('Partner Merchant')}} </ion-label>
      <!-- <ion-label class="view" (click)="topStores()">{{util.getString('More')}}
        <div class="ion-activatable">
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </div>
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-label> -->
    </div>

    <ion-list>
      <ion-item lines="none" *ngFor="let item of dummyStores">
        <div class="allstore_div">
          <div class="card_div">
            <div class="image_div">
              <ion-skeleton-text animated></ion-skeleton-text>
            </div>
            <div class="desc_div">
              <ion-skeleton-text animated class="pro_name"></ion-skeleton-text>
              <ion-skeleton-text animated class="pro_detail"></ion-skeleton-text>
              <ion-skeleton-text animated class="price_lbl"></ion-skeleton-text>
              <ion-skeleton-text animated class="small_flex"></ion-skeleton-text>
            </div>
          </div>
        </div>
        
      </ion-item>
      <ion-item *ngFor="let item of stores;let i = index;">
        <div class="allstore_div">
          <div class="card_div">
            <div class="image_div" (click)="openStore(item)"
              [ngStyle]="{'background-image':'url('+ api.mediaURL+item.cover+'),url(assets/imgs/store.png)'}">
              <img src="assets/imgs/open.png" class="isOpen" alt="Veg" *ngIf="item.isOpen && item.isClosed ==='1'">
              <img src="assets/imgs/close.png" class="isOpen" alt="Non Veg"
                *ngIf="!item.isOpen || item.isClosed === '0'">
            </div>
            <div class="desc_div" (click)="openStore(item)">
              <ion-label class="pro_name">
                {{ (item.name.length>12)? (item.name | slice:0:12)+'..':(item.name) }}</ion-label>
              <ion-label class="pro_detail">
                {{ (item.address.length>20)? (item.address | slice:0:20)+'..':(item.address) }}
              </ion-label>
              <ion-label class="price_lbl"> {{getTime(item.open_time)}} - {{getTime(item.close_time)}} </ion-label>

              <div class="small_flex">
                <div class="btnBtm">
                  <div class="ion-activatable ripple-parent">
                    {{util.getString('View')}}
                    <ion-ripple-effect></ion-ripple-effect>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll *ngIf="false">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading…">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!--  END INFINITY STORES -->

  </div>

  <div *ngIf="haveStores === false" class="nothing">
    <img src="assets/imgs/nothing.png" alt="" srcset="" class="imgs">
    <p class="ion-text-center bolder"> {{util.getString('No Stores Found Near You!')}} </p>
  </div>
</ion-content>