<!--
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
 -->

<div class="row">
    <!-- counter-card-1 start-->
    <div class="col-md-6 col-xl-3">
        <app-card [cardClass]="'counter-card-1'" [blockClass]="'card-body-big'">
            <div class="row" (click)="openIt('orders')" style="cursor: pointer;">
                <div class="col-6 counter-card-icon">
                    <i class="icofont icofont-basket"></i>
                </div>
                <div class="col-6  text-right">
                    <div class="counter-card-text">
                        <h3> {{dash_head.totol_completed_orders}} </h3>
                        <p>{{api.translate('Orders')}} </p>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <!-- counter-card-1 end-->

    <!-- counter-card-2 start -->
    <div class="col-md-6 col-xl-3">
        <app-card [cardClass]="'counter-card-2'" [blockClass]="'card-body-big'">
            <div class="row" (click)="openIt('users')" style="cursor: pointer;">
                <div class="col-6 counter-card-icon">
                    <i class="icofont icofont-users"></i>
                </div>
                <div class="col-6 text-right">
                    <div class="counter-card-text">
                        <h3> {{dash_head.totol__customers}} </h3>
                        <p>{{api.translate('Customers')}} </p>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <!-- counter-card-2 end -->

    <!-- counter-card-3 start -->
    <div class="col-md-6 col-xl-3">
        <app-card [cardClass]="'counter-card-3'" [blockClass]="'card-body-big'">
            <div class="row" (click)="openIt('stores')" style="cursor: pointer;">
                <div class="col-6 counter-card-icon">
                    <i class="icofont icofont-cubes"></i>
                </div>
                <div class="col-6 text-right">
                    <div class="counter-card-text">
                        <h3> {{dash_head.totol_active_products}} </h3>
                        <p>{{api.translate('Products')}} </p>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <!-- counter-card-3 end -->

    <!-- counter-card-4 start -->
    <div class="col-md-6 col-xl-3">
        <app-card [cardClass]="'counter-card-4'" [blockClass]="'card-body-big'">
            <div class="row" (click)="openIt('stores')" style="cursor: pointer;">
                <div class="col-6 counter-card-icon">
                    <i class="icofont icofont-building"></i>
                </div>
                <div class="col-6 text-right">
                    <div class="counter-card-text">
                        <h3> {{dash_head.totol_stores}} </h3>
                        <p>{{api.translate('Merchants')}} </p>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <!-- counter-card-4 end -->

</div>

<div class="row">
    <div class="col-md-8">
        <app-card [blockClass]="'card-body-big'">
            <h4>Annual Sales Report</h4>
            <div style="display: block;">
                <canvas baseChart height="120"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="'bar'">
                </canvas>
            </div>
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card [blockClass]="'card-body-big'">
            <h4>Top 10 Products</h4>
            <div style="display: block;">
                <canvas baseChart width="85" height="85"
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [options]="pieChartOptions"
                    [colors]="pieChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="'pie'">
                </canvas>
            </div>
        </app-card>
    </div>
</div>

<div class="flex">
    <app-card [cardClass]="'counter-card-12'" [blockClass]="'card-body-big'">
        <h4>Colab's Sales Report</h4>
        <div style="display: block;">
            <canvas baseChart height="120"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="'line'">
            </canvas>
        </div>
    </app-card>
</div>

<div class="row">
    <div class="col-md-6">
        <app-card [cardClass]="'counter-card-1'" [blockClass]="'card-body-big'">
            <h4>Top Merchants</h4>
            <div style="display: block;">
                <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Merchant</th>
                      <th scope="col">Daily Sales</th>
                      <th scope="col">Customers</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let merchant of merchants; index as i">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <img [src]="'https://i.pravatar.cc/50?u=' + merchant.flag" class="mr-2" style="width: 20px; border-radius: 50%;">
                        {{ merchant.name }}
                      </td>
                      <td>{{ merchant.area | number }}</td>
                      <td>{{ merchant.population | number }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
    <div class="col-md-6">
        <app-card [cardClass]="'counter-card-2'" [blockClass]="'card-body-big'">
            <h4>Newest Members</h4>
            <div style="display: block;">
                <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">City</th>
                      <th scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users; index as i">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <img [src]="'https://i.pravatar.cc/50?u=' + user.flag" class="mr-2" style="width: 20px; border-radius: 50%;">
                        {{ user.name }}
                      </td>
                      <td>{{ user.area }}</td>
                      <td>{{ user.population }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </app-card>
    </div>
</div>

