/*
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020
*/
.thums {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img{
        height: 25px;
        width: 25px;
    }
}
