/*
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
*/
.div_map {
  height: 50vh;
  width: 100%;
  border: 1px solid gray;
}
.informations {
  padding: 10px;
  .title {
    font-weight: bold;
    padding: 10px;
    margin: 10px;
  }
}
