.main_div{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  .imgs{
    height: 220px;
    width: auto;
    padding-bottom: 20px;
  }
  .message{
      font-weight: bold;
  }
}
