<!--
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5> {{name}} </h5>
            </div>
            <div class="card-body reset-table p-t-0">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Environment</label>
                        <select name="select" [(ngModel)]="data.env" class="form-control">
                            <option value="production">Production</option>
                            <option value="sandbox">Sandbox</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label> Test Key </label>
                        <input type="text" [(ngModel)]="data.test" class="form-control"
                            placeholder="Client ID Sandbox">
                    </div>
                    <div class="col-sm-6">
                        <label> Live Keys </label>
                        <input type="text" [(ngModel)]="data.live" class="form-control"
                            placeholder="Client ID Production">
                    </div>
                    <div class="col-sm-6">
                        <label> Currency code </label>
                        <input type="text" [(ngModel)]="data.code" class="form-control" placeholder="USD">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary btn-round float-right" (click)="update()">Update</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<ng2-toasty></ng2-toasty>