<!-- 

  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020

 -->

<ion-content>
  <ion-toolbar style="margin: 15px 5px 10px;">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{util.getString('Order Details')}} </ion-title>
  </ion-toolbar>

  <div *ngIf="!loaded" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <ion-spinner color="primary" name="crescent"></ion-spinner>
  </div>

  <div class="main_content_div" *ngIf="loaded && order">
    
    <ion-label class="titles"> {{util.getString('Information')}} </ion-label>
    <div class="option_div">
      
      <div class="flex_div">
        <ion-label> {{util.getString('Order ID')}} </ion-label>
        <ion-label class="values" style="font-weight: bold;">{{ util.safeText(order.uuid, 7, '', '').toUpperCase() }}</ion-label>
      </div>

      <div class="flex_div">
        <ion-label> {{util.getString('Merchant')}} </ion-label>
        <ion-label class="values">{{ order.store_name }}</ion-label>
      </div>

      <div class="flex_div">
        <ion-label> {{util.getString('Payment Method')}} </ion-label>
        <ion-label class="values"> {{order.paid_method.toUpperCase()}} </ion-label>
      </div>

      <div class="flex_div">
        <ion-label> {{util.getString('Schedule')}} </ion-label>
        <ion-label class="values"> {{order.factor.schedule}} </ion-label>
      </div>

      <div class="flex_div" *ngIf="order.address_id">
        <ion-label> {{util.getString('Address')}} </ion-label>
        <ion-label class="values" style="text-align: right;width: 60%;">
          {{order.address_name}}
        </ion-label>
      </div>
      
    </div>

    <ion-label class="titles"> {{util.getString('Description')}} </ion-label>
    <div class="desc_div">
      <div *ngIf="order.items?.length" class="border_bottom">
        
        <div *ngFor="let item of order.items">
          <p class="items">
            <span style="width: 80%;">
              {{item.name}} ( {{util.currecny}}{{getItemPrice(item)}} ) x{{item.quantity}}
            </span>
            <span style="float: right;">
              {{util.currecny}} {{getItemPrice(item,item.quantity)}}
            </span>
          </p>
        </div>
        <div style="padding: 2px 10px 0;">
          <p class="footer">
            <span style="width: 80%;">{{util.getString('Sub Total')}}</span>
            <span style="float: right;">{{util.currecny}} {{order.total}}</span>
          </p>
        </div>
        <div style="padding: 2px 10px 0;" *ngIf="order.discount != '0.00'">
          <p class="footer">
            <span style="width: 80%;">{{util.getString('Discount')}}</span>
            <span style="float: right;">{{util.currecny}} {{order.discount}}</span>
          </p>
        </div>
        <div style="padding: 2px 10px 0;" *ngIf="order.tax">
          <p class="footer">
            <span style="width: 80%;">{{util.getString('Tax')}}</span>
            <span style="float: right;">{{util.currecny}} {{order.tax}}</span>
          </p>
        </div>
        <div style="padding: 2px 10px 0;" *ngIf="order.delivery != '0.00'">
          <p class="footer">
            <span style="width: 80%;">{{util.getString('Delivery Charge')}}</span>
            <span style="float: right;">{{util.currecny}} {{order.delivery}}</span>
          </p>
        </div>
        <div style="padding: 10px 10px 0;">
          <p class="footer" style="font-size: 14px; font-weight: bold;">
            <span style="width: 70%;">{{util.getString('Grand Total')}}</span>
            <span style="float: right;">{{util.currecny}} {{order.grand_total}}</span>
          </p>
        </div>

      </div>
    </div>    

    <ion-label class="titles"> {{util.getString('Tracking')}} </ion-label>
    <div class="tracking_div">

      <div class="left">
        <span *ngFor="let item of order.progress">
          <div class="line_div" [class.line_div_darkgray]="item.status === 1"></div>
          <ion-icon *ngIf="item.status === 1" name="checkmark-sharp"></ion-icon>
        </span>
      </div>

      <div class="right">
        <span *ngFor="let item of order.progress">
          <div class="line_div">
            <ion-label [class.round_div_red]="item.status === 1" [class.round_div_darkgray]="item.status === 1">
              {{item.timestamp}}
            </ion-label>
          </div>
          <div class="round_div_gray" [class.round_div_red]="item.status === 1" [class.round_div_darkgray]="item.status === 1">
            {{item.latest}}
          </div>
        </span>
      </div>

    </div>

    <ion-label class="titles" *ngIf="driverInfo && driverInfo.length"> {{util.getString('Driver Informations')}}
    </ion-label>

    <div *ngFor="let item of driverInfo">
      <div class="card_div">
        <div class="resto_detail">
          <div class="back_image"
            [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/user.png)'}"></div>
          <div style="margin-left: 10px;" (click)="contanctDriver(item)">
            <ion-label class="res_name">{{item.first_name}} {{item.last_name}}</ion-label>
            <ion-label class="res_location">
              <ion-icon name="mail-outline"></ion-icon> {{item.email}}
            </ion-label>
            <ion-label class="res_location">
              <ion-icon name="call-outline"></ion-icon> {{item.mobile}}
            </ion-label>
          </div>
          <ion-fab class="directionBtn" (click)="direction(item,'driver')"
            *ngIf="getOrderStatusFromDriver(item.uuid) ==='ongoing' || getOrderStatusFromDriver(item.uuid) ==='accepted' ">
            <ion-fab-button color="light" size="small">
              <ion-icon name="compass-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </div>
    </div>

    <div *ngIf="stores && stores?.length">
      <ion-label class="titles" *ngIf="stores"> {{util.getString('Stores Informations')}} </ion-label>
      <div *ngFor="let item of stores">
        <div class="card_div">
          <div class="resto_detail">
            <div class="back_image"
              [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/user.png)'}">
            </div>
            <div style="margin-left: 10px;" (click)="contanct(item)">
              <ion-label class="res_name">{{item.name}}</ion-label>
              <ion-label class="res_location">
                <ion-icon name="mail-outline"></ion-icon> {{item.email}}
              </ion-label>
              <ion-label class="res_location">
                <ion-icon name="call-outline"></ion-icon> {{item.mobile}}
              </ion-label>
              <ion-label class="res_location">
                <ion-icon name="location-outline"></ion-icon>{{item.address}}
              </ion-label>
            </div>
            <ion-fab class="directionBtn" (click)="direction(item,'store')"
              *ngIf="getOrderStatus(item.uid) ==='ongoing' || getOrderStatus(item.uid) ==='accepted' ">
              <ion-fab-button color="light" size="small">
                <ion-icon name="compass-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </div>
        </div>
      </div>
    </div>

  </div>

  <ion-footer style="margin: 15px 0 20px;">
    <ion-toolbar>
      <div class="btn_div">
        <ion-button *ngIf="has_stage('delivered')" (click)="presentAlertConfirm()" class="ratae" style="font-weight: 100; margin-top: 20px;">
          <!-- <ion-icon name="star" color="light" slot="start"></ion-icon> -->
          {{util.getString('Rate Order')}}
        </ion-button>
        <ion-button *ngIf="has_stage('created')" (click)="cancelOrder()" class="reject" style="font-weight: 100; margin-top: 20px;">
          {{util.getString('Cancel Order')}}
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>