/*
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
*/
ion-label {
    display: block;
}
.group {
    padding: 10px 15px;
    width: 100%;
    background: --ion-color-light !important;
    .mainContent{
        padding: 5px 10px;
        .savedTitle{
            font-weight: bold;   
        }
        .noData{
            border-radius: 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 250px;
        }
        .list{
            margin-top: 20px;
            position: relative;
            // display: flex;
            // flex-wrap: nowrap;
            padding: 20px;
            border: 1px solid var(--ion-color-light-contrast);
            border-radius: 20px;
            overflow-x: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            .scroll-item {
                flex: 0 0 auto;
            }
            .title{
                font-weight: bold;
                color: var(--ion-color-light-contrast);
                font-size: 0.8rem;
                white-space: pre-wrap;
                text-transform: capitalize;
            }
            .name{
                color: var(--ion-color-light-contrast);
                font-size: 0.7rem;
            }
            .moreIcon{
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }
    }
}