/*
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
*/

ion-item {
  padding-right: 20px;
  padding-top: 10px;
}

ion-fab {
  margin: 0 15px 15px 0;
}