/*
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
*/
.thums {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img{
        height: 25px;
        width: 25px;
    }
}
