/*
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020
*/
@import "../../../variables.scss";
.first-nav {
  background-color: $theme-color;
}

.second-nav {
  background-color: lightgray;
}
