/*
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
*/
@import "../../../variables.scss";
.first-nav {
  background-color: $theme-color;
}

.second-nav {
  background-color: lightgray;
}
