<!-- 

  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020

 -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{util.getString('Digital Billboards')}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngFor="let item of dummy" style="margin-bottom: 10px;">
    <ion-skeleton-text animated style="width: 100%;height: 100px; border-radius: 5px;"></ion-skeleton-text>
  </div>

  <div class="card" *ngFor="let item of list">
    <div class="back_image" [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/product.png)'}"
      (click)="openLink(item)">
      <div class="overlay_div" *ngIf="item.message && false">
        <ion-label> {{item.message}} </ion-label>
      </div>
    </div>
  </div>
</ion-content>