<!--
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
   <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>
<ng-template #content let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{util.getString('Select Category')}} </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <div class="form-group row">
         <div class="col-sm-12">
            <label>{{util.getString('Select Category')}} </label>
            <input style="background: transparent !important;" [(ngModel)]="cateString"
               (ngModelChange)="searchCates($event)" type="text" class="form-control" placeholder="Search Category">
         </div>
      </div>

      <div class="form-group row">
         <div class="col-sm-12">
            <div *ngFor="let item of category" (click)="cateId = item.uuid"
               style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;margin-bottom: 5px; border-bottom: 1px solid lightgray; padding-bottom: 5px;">
               <p style="margin: 0px;"> {{item.name}}</p>
               <i class="ti-check-box" *ngIf="item.uuid === cateId"></i>
            </div>
         </div>
      </div>

   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="close()">{{util.getString('Save')}} </button>
   </div>
</ng-template>

<ng-template #contentSub let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{util.getString('Select Sub Category')}} </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <div class="form-group row">
         <div class="col-sm-12">
            <label>{{util.getString('Select Sub Category')}} </label>
            <input style="background: transparent !important;" [(ngModel)]="subString"
               (ngModelChange)="searchSubCate($event)" type="text" class="form-control" placeholder="Search Category">
         </div>
      </div>

      <div class="form-group row">
         <div class="col-sm-12">
            <div *ngFor="let item of subCates" (click)="subId = item.uuid"
               style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;margin-bottom: 5px; border-bottom: 1px solid lightgray; padding-bottom: 5px;">
               <p style="margin: 0px;"> {{item.name}}</p>
               <i class="ti-check-box" *ngIf="item.uuid === subId"></i>
            </div>
         </div>
      </div>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="close2()">{{util.getString('Save')}} </button>
   </div>
</ng-template>

<ng-template #contentStore let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{util.getString('Select Store')}} </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <div class="form-group row">
         <div class="col-sm-12">
            <label>{{util.getString('Select Store')}} </label>
            <input style="background: transparent !important;" [(ngModel)]="storeString"
               (ngModelChange)="searchStore($event)" type="text" class="form-control" placeholder="Search Store">
         </div>
      </div>

      <div class="form-group row">
         <div class="col-sm-12">
            <div *ngFor="let item of stores" (click)="storeId = item.uuid"
               style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;margin-bottom: 5px; border-bottom: 1px solid lightgray; padding-bottom: 5px;">
               <p style="margin: 0px;"> {{item.name}}</p>
               <i class="ti-check-box" *ngIf="item.uuid === storeId"></i>
            </div>
         </div>
      </div>

   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="close4()">{{util.getString('Save')}} </button>
   </div>
</ng-template>

<ng-template #contentVarient let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{util.getString('Add item to variations')}} </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <div class="form-group row">
         <div class="col-sm-12">
            <label> {{util.getString('Add-ons name')}} </label>
            <input style="background: transparent !important;" [(ngModel)]="variant_title" type="text"
               class="form-control" [placeholder]="util.getString('Add-ons name')">
         </div>

         <div class="col-sm-12">
            <label>{{util.getString('Add-ons price')}} </label>
            <input style="background: transparent !important;" [(ngModel)]="variant_price" type="number"
               class="form-control" [placeholder]="util.getString('Add-ons price')">
         </div>

         <div class="col-sm-12">
            <label>{{util.getString('Add-ons discount (%)')}} </label>
            <input style="background: transparent !important;" [(ngModel)]="variant_discount" type="number"
               class="form-control" [placeholder]="util.getString('Add-ons discount')">
         </div>

      </div>

   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="close3()">{{ sub ? 'Save' : 'Add' }} </button>
   </div>
</ng-template>

<div class="row">
   <div class="col-md-12">
      <div class="card">
         <div class="card-body">
            <h5>{{util.getString('Manage Product')}} </h5>
            <button class="btn btn-info btn-round float-right" (click)="decideRequest('approve')" *ngIf="pending" style="margin-right: 15px;">
               Approve
           </button>
           <button class="btn btn-danger btn-round float-right" (click)="decideRequest('reject')" *ngIf="pending" style="margin-right: 15px;">
               Reject
           </button>
           <label class="float-right"  *ngIf="pending" style="margin-right: 20px; padding-top: 5px; color: #df1c77;">
               <strong>There are pending product detail update request! </strong>
           </label>
         </div>
         <div class="card-body reset-table p-t-0">

            <h4 class="sub-title" >Categorization</h4>
            <div class="form-group row">
               <div class="col-sm-6" (click)="openStore()" style="margin-bottom: 12px;">
                  <label>{{util.getString('Select Store')}} </label>
                  <input style="background: transparent !important;" type="text" disabled="true" [(ngModel)]="storeName"
                     class="form-control" [placeholder]="util.getString('Select Store')">
               </div>
               <div class="col-sm-3" (click)="openCate()" style="margin-bottom: 12px;">
                  <label>{{util.getString('Select Category')}} </label>
                  <input style="background: transparent !important;" type="text" disabled="true" [(ngModel)]="cateName"
                     class="form-control" [placeholder]="util.getString('Select Category')">
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_category_name"><strong>Pending:</strong> {{pending_category_name}}</label>
               </div>
               <div class="col-sm-3" (click)="openSub()" style="margin-bottom: 12px;">
                  <label>{{util.getString('Select Sub-Category')}} </label>
                  <input style="background: transparent !important;" type="text" disabled="true" [(ngModel)]="subName"
                     class="form-control" [placeholder]="util.getString('Select Sub Category')">
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_subcategory_name"><strong>Pending:</strong> {{pending_subcategory_name}}</label>
               </div>
            </div>

            <h4 class="sub-title" >Cover & Photos</h4>
            <div class="form-group row" style="width: -webkit-fill-available; display: block; padding: 0 15px;">
               <ul style="display: -webkit-box; overflow-x: auto; background-color: #f8f8f8;">
                  <li>
                     <div class="form-group row" style="margin: auto; padding: 10px; width: min-content;">
                        <div class="col-md-12" style="text-align: center;">
                           <img [src]="api.mediaURL+ coverImage" alt="" style="object-fit: cover; height: 250px; width: 250px; padding: 5px;"
                              onError="this.src='assets/images/product.png'">
                        </div>
                        <div class="col-md-12" style="width: auto; padding-top: 20px;">
                           <input (change)="displayPreview($event.target.files)" type="file" class="form-control" accept="image/*">
                           <button type="button" (click)="addPreview()" class="btn btn-primary btn-md btn-block waves-effect text-center" 
                              style="margin: 15px 0; padding: 5px;">Add Preview</button>
                        </div>
                     </div>
                  </li>
                  <li *ngFor="let image of images; let pos = index">
                     <div class="form-group row" style="margin: 0 10px; padding: 20px; width: min-content;">
                        <div class="col-md-12" style="text-align: center;">
                           <img [src]="api.mediaURL+image" alt="" style="object-fit: cover; height: 200px; width: 200px;"
                              onError="this.src='assets/images/product.png'">
                        </div>
                        <div class="col-md-12" style="width: auto; padding-top: 20px;">
                           <input (change)="displayPreview($event.target.files, pos)" type="file" class="form-control" accept="image/*">
                           <button type="button" (click)="removePreview(pos)" class="btn btn-danger btn-md btn-block waves-effect text-center" 
                              style="margin: 15px 0; padding: 5px;">Remove</button>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
            <div *ngIf="pending_cover || pending_images?.length" class="form-group row" style="width: -webkit-fill-available; display: block; padding: 0 15px;">
               <h6 style="color: #f14f4f;">Cover & Photos: Pending Update</h6>
               <ul style="display: -webkit-box; overflow-x: auto; background-color: #f8f8f8;">
                  <li *ngIf="pending_cover">
                     <div class="form-group row" style="margin: auto; padding: 10px; width: min-content;">
                        <div class="col-md-12" style="text-align: center;">
                           <img [src]="api.mediaURL+ pending_cover" alt="" style="object-fit: cover; height: 250px; width: 250px; padding: 5px;"
                              onError="this.src='assets/images/product.png'">
                        </div>
                     </div>
                  </li>
                  <li *ngFor="let image of pending_images; let pos = index">
                     <div class="form-group row" style="margin: 0 10px; padding: 20px; width: min-content;">
                        <div class="col-md-12" style="text-align: center;">
                           <img [src]="api.mediaURL+image" alt="" style="object-fit: cover; height: 200px; width: 200px;"
                              onError="this.src='assets/images/product.png'">
                        </div>
                     </div>
                  </li>
               </ul>
            </div>

            <h4 class="sub-title" >General Details</h4>
            <div class="form-group row">
               <div class="col-sm-12" style="margin-bottom: 12px;">
                  <label>{{util.getString('Name')}} </label>
                  <input type="text" [(ngModel)]="name" class="form-control" [placeholder]="util.getString('Name')">
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_name"><strong>Pending:</strong> {{pending_name}}</label>
               </div>
               <div class="col-sm-12" style="margin-bottom: 12px;">
                  <label>{{util.getString('Descriptions')}} </label>
                  <textarea rows="3" cols="3" [(ngModel)]="description" class="form-control"
                     [placeholder]="util.getString('Descriptions')"></textarea>
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_description"><strong>Pending:</strong> {{pending_description}}</label>
               </div>
               <div class="col-sm-12" style="margin-bottom: 12px;">
                  <label>{{util.getString('Features')}} </label>
                  <textarea rows="3" cols="3" [(ngModel)]="key_features" class="form-control"
                     [placeholder]="util.getString('Key feature')"></textarea>
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_features"><strong>Pending:</strong> {{pending_features}}</label>
               </div>
               <div class="col-sm-12" style="margin-bottom: 12px;">
                  <label>{{util.getString('Disclaimer')}} </label>
                  <textarea rows="3" cols="3" [(ngModel)]="disclaimer" class="form-control"
                     [placeholder]="util.getString('Disclaimer')"></textarea>
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_disclaimer"><strong>Pending:</strong> {{pending_disclaimer}}</label>
               </div>
            </div>

            <h4 class="sub-title" >Availability</h4>
            <div class="form-group row">
               <div class="col-sm-4">
                  <label>{{util.getString('Featured')}} </label>
                  <select name="select" [(ngModel)]="is_featured" class="form-control">
                     <option value='0'>{{util.getString('Regular')}} </option>
                     <option value='1'>{{util.getString('Featured')}} </option>
                  </select>
               </div>
               <div class="col-sm-4">
                  <label>{{util.getString('In Stock')}} </label>
                  <select name="select" [(ngModel)]="in_stock" class="form-control">
                     <option value='1'>{{util.getString('In Stock')}} </option>
                     <option value='0'>{{util.getString('Out Of Stock')}} </option>
                  </select>
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_in_stock"><strong>Pending:</strong> {{pending_in_stock == "1" ? "In Stock" : "Out of Stock"}}</label>
               </div>
               <div class="col-sm-4">
                  <label> {{util.getString('Status')}}</label>
                  <select name="select" [(ngModel)]="status" class="form-control">
                     <option value='0'>{{util.getString('Unavailable')}} </option>
                     <option value='1'>{{util.getString('Available')}} </option>
                  </select>
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_status"><strong>Pending:</strong> {{pending_status == "1" ? "Available" : "Unavailable"}}</label>
               </div>
            </div>

            <div class="form-group row">
               <div class="col-sm-3" style="margin-bottom: 12px;">
                  <label> {{util.getString('Real price')}} </label>
                  <input type="text" [(ngModel)]="realPrice" (ngModelChange)="onRealPrice($event)" class="form-control"
                     [placeholder]="util.getString('Real price')">
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_orig_price"><strong>Pending:</strong> {{pending_orig_price}}</label>
               </div>
               <div class="col-sm-3" style="margin-bottom: 12px;">
                  <label>{{util.getString('Sell price')}} </label>
                  <input type="text" [(ngModel)]="sellPrice" disabled="true" class="form-control"
                     [placeholder]="util.getString('Sell price')">
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_sell_price"><strong>Pending:</strong> {{pending_sell_price}}</label>
               </div>
               <div class="col-sm-3" style="margin-bottom: 12px;">
                  <label>{{util.getString('Discount Type')}} </label>
                  <select name="select" [(ngModel)]="discount_type" (ngModelChange)="onDicountType($event)" class="form-control">
                     <option value='none'>{{util.getString('None')}} </option>
                     <option value='fixed'>{{util.getString('Fixed')}} </option>
                     <option value='percent'>{{util.getString('Percent')}} </option>
                  </select>
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_discount_type"><strong>Pending:</strong> {{pending_discount_type}}</label>
               </div>
               <div class="col-sm-3" style="margin-bottom: 12px;">
                  <label>{{util.getString('Discount Amount')}} </label>
                  <input type="text" [(ngModel)]="discount" (ngModelChange)="onDicount($event)" class="form-control"
                     [placeholder]="util.getString('Discount')">
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_discount"><strong>Pending:</strong> {{pending_discount}}</label>
               </div>
            </div>

            <h4 class="sub-title" >Package Quantity</h4>
            <div class="form-group row">
               <div class="col-sm-3" style="margin-bottom: 12px;">
                  <div>
                     <label>{{util.getString('Have KG')}} </label>
                     <select name="select" [(ngModel)]="have_kg" class="form-control">
                        <option value='1'>{{util.getString('Yes')}} </option>
                        <option value='0'>{{util.getString('No')}} </option>
                     </select>
                  </div>
                  <div *ngIf="have_kg  ==='1'">
                     <label>{{util.getString('Kilogram')}} </label>
                     <input type="number" [(ngModel)]="kg" class="form-control" [placeholder]="util.getString('KG')">
                  </div>
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_have_kg"><strong>Pending:</strong> {{pending_have_kg ? "(Yes) "+pending_kg : "None"}}</label>
               </div>
               <div class="col-sm-3" style="margin-bottom: 12px;">
                  <div>
                     <label>{{util.getString('Have Gram')}} </label>
                     <select name="select" [(ngModel)]="have_gram" class="form-control">
                        <option value='1'>{{util.getString('Yes')}} </option>
                        <option value='0'> {{util.getString('No')}} </option>
                     </select>
                  </div>
                  <div *ngIf="have_gram  ==='1'">
                     <label>{{util.getString('Gram')}} </label>
                     <input type="number" [(ngModel)]="gram" class="form-control" [placeholder]="util.getString('G')">
                  </div>
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_have_gram"><strong>Pending:</strong> {{pending_have_gram ? "(Yes) "+pending_gram : "None"}}</label>
               </div>
               <div class="col-sm-3" style="margin-bottom: 12px;">
                  <div>
                     <label>{{util.getString('Have Liter')}} </label>
                     <select name="select" [(ngModel)]="have_liter" class="form-control">
                        <option value='1'>{{util.getString('Yes')}} </option>
                        <option value='0'>{{util.getString('No')}} </option>
                     </select>
                  </div>
                  <div *ngIf="have_liter  ==='1'">
                     <label>{{util.getString('Liter')}} </label>
                     <input type="number" [(ngModel)]="liter" class="form-control" [placeholder]="util.getString('L')">
                  </div>
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_have_liter"><strong>Pending:</strong> {{pending_have_liter ? "(Yes) "+pending_liter : "None"}}</label>
               </div>
               <div class="col-sm-3" style="margin-bottom: 12px;">
                  <div>
                     <label>{{util.getString('Have ML')}} </label>
                     <select name="select" [(ngModel)]="have_ml" class="form-control">
                        <option value='1'>{{util.getString('Yes')}} </option>
                        <option value='0'>{{util.getString('No')}} </option>
                     </select>
                  </div>
                  <div *ngIf="have_ml  ==='1'">
                     <label>{{util.getString('MILLILITER')}} </label>
                     <input type="number" [(ngModel)]="ml" class="form-control" [placeholder]="util.getString('ML')">
                  </div>
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_have_ml"><strong>Pending:</strong> {{pending_have_ml ? "(Yes) "+pending_ml : "None"}}</label>
               </div>
               <div class="col-sm-3" style="margin-bottom: 12px;">
                  <div>
                     <label>{{util.getString('Have Pieces')}} </label>
                     <select name="select" [(ngModel)]="have_pcs" class="form-control">
                        <option value='1'>{{util.getString('Yes')}} </option>
                        <option value='0'>{{util.getString('No')}} </option>
                     </select>
                  </div>
                  <div *ngIf="have_pcs  ==='1'">
                     <label>{{util.getString('Pieces')}} </label>
                     <input type="number" [(ngModel)]="pcs" class="form-control" [placeholder]="util.getString('PCs')">
                  </div>
                  <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_have_pcs"><strong>Pending:</strong> {{pending_have_pcs ? "(Yes) "+pending_pcs : "None"}}</label>
               </div>
            </div>

            <h4 class="sub-title" >Variantions</h4>
            <div class="form-group row">
               <div class="col-sm-8">
                  <input type="text" [(ngModel)]="curVar" (keyup.enter)="changeSize()" class="form-control" [placeholder]="util.getString('Name of Variant')">
               </div>
               <div class="col-sm-4">
                  <button type="button" (click)="changeSize()"
                     class="btn btn-primary btn-md btn-block waves-effect text-center">{{util.getString('Add to Variant')}}
                  </button>
               </div>
               <div class="col-sm-12">
                  <h4 class="sub-title" ></h4>
               </div>
            </div>

            <div class="form-group row">
               <div class="col-sm-4" *ngFor="let item of variations;let i = index;">
                  <div style="margin-bottom: 15px;">
                     <div class="var_whole">
                        <div class="var_title">
                           <label style="margin: 0px !important;">Name: <strong>{{item.title}}</strong></label>
                           <i class="ti-minus" style="font-weight: bold;margin: 0px 10px;float: right;" (click)="delete(item)"></i>
                           <i class="ti-plus" style="font-weight: bold;margin: 0px 10px;float: right;" (click)="addItem(i)"></i>
                        </div>
                        <div *ngFor="let sub of item.items; let j = index"
                           style="font-size: 15px; display: flow-root; flex-direction: row; align-items: center; justify-content: flex-start;font-weight: bold;">
                           <div
                              style="font-size: 15px; display: inline-flex; flex-direction: row; align-items: center; justify-content: flex-start;font-weight: bold;">
                              * {{sub.title}}&nbsp;&nbsp; = &nbsp;
                              <p *ngIf="sub.discount_type == 'none' || sub.discount === 0 || sub.discount ==='0'" style="margin: 0px !important;">
                                 <span>{{util.currecny}}{{sub.price}}</span>
                              </p>
                              <p class="price_lbl" style="margin: 0px !important;"
                                 *ngIf="sub.discount !== 0 && sub.discount !=='0'">
                                 <span style="text-decoration:line-through;">
                                    {{util.currecny}}{{sub.price}}
                                 </span>
                                 <span class="sell">
                                    &nbsp;- {{util.currecny}}{{sub.discount}}
                                 </span>
                              </p>
                           </div>
                           <i class="ti-trash" style="font-weight: bold;margin: 0px 10px;float: right;" (click)="deleteSub(i,sub)"></i>
                           <i class="ti-pencil-alt" style="font-weight: bold;margin: 0px 10px;float: right;" (click)="editSub(i,sub,j)"></i>
                        </div>  
                     </div>                   
                  </div>
               </div>
            </div>

            <div class="form-group row" *ngIf="pending_variations?.length">
               <div class="col-sm-12">
                  <h6 style="color: #f14f4f;">Cover & Photos: Pending Update</h6>
               </div>
               <div class="col-sm-4" *ngFor="let item of pending_variations;let i = index;">
                  <div style="margin-bottom: 15px;">
                     <div class="var_whole">
                        <div class="var_title">
                           <label style="margin: 0px !important;">Name: <strong>{{item.title}}</strong></label>
                        </div>
                        <div *ngFor="let sub of item.items; let j = index"
                           style="font-size: 15px; display: flow-root; flex-direction: row; align-items: center; justify-content: flex-start;font-weight: bold;">
                           <div
                              style="font-size: 15px; display: inline-flex; flex-direction: row; align-items: center; justify-content: flex-start;font-weight: bold;">
                              * {{sub.title}}&nbsp;&nbsp; = &nbsp;
                              <p *ngIf="sub.discount_type == 'none' || sub.discount === 0 || sub.discount ==='0'" style="margin: 0px !important;">
                                 <span>{{util.currecny}}{{sub.price}}</span>
                              </p>
                              <p class="price_lbl" style="margin: 0px !important;"
                                 *ngIf="sub.discount !== 0 && sub.discount !=='0'">
                                 <span style="text-decoration:line-through;">
                                    {{util.currecny}}{{sub.price}}
                                 </span>
                                 <span class="sell">
                                    &nbsp;- {{util.currecny}}{{sub.discount}}
                                 </span>
                              </p>
                           </div>
                        </div>  
                     </div>                   
                  </div>
               </div>
            </div>

            <div class="form-group row">
               <button type="button" (click)="submit()" style="margin: 0 20px;"
                  class="btn btn-primary btn-md btn-block waves-effect text-center">{{util.getString('Submit Changes')}}
               </button>
            </div>
         </div>
      </div>
   </div>
</div>
<ng2-toasty></ng2-toasty>