<!--
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>Manage Coupon</h5>
            </div>
            <div class="card-body reset-table p-t-0">

                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-12" style="text-align: center; padding: 20px;">
                                <img [src]="api.mediaURL+ coverImage" alt="" style="height: auto; width: 300px; border: #dbdbdb solid 1px;"
                                    onError="this.src='assets/images/offer.png'">
                            </div>
                            <div class="col-md-12" style="padding: 20px 40px;">
                                <input (change)="preview_banner($event.target.files)" type="file" class="form-control" accept="image/*">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group row" style="padding-right: 20px;">
                            <div class="col-md-12" style="padding-top: 20px;">
                                <label>Coupon Code</label>
                                <input type="text" [(ngModel)]="name" class="form-control" placeholder="Ex:ABC123">
                            </div>
                            <div class="col-md-6" style="padding-top: 12px;">
                                <label>Discount Type</label>
                                <select name="select" [(ngModel)]="type" class="form-control">
                                    <option value="fixed">Fixed</option>
                                    <option value="percent">Percent</option>
                                    <option value="delivery">Free Delivery</option>
                                </select>
                            </div>
                            <div class="col-md-6" style="padding-top: 12px;">
                                <label>Discount Value</label>
                                <input type="number" [(ngModel)]="off" class="form-control" placeholder="Discount">
                            </div>
                            <div class="col-md-12" style="padding-top: 12px;">
                                <label>Minimum Purchase</label>
                                <input type="number" [(ngModel)]="min" class="form-control" placeholder="Minimum Purchase">
                            </div>
                            <div class="col-md-12" style="padding-top: 12px;">
                                <label>Maximum Discount</label>
                                <input type="number" [(ngModel)]="upto" class="form-control" placeholder="Maximum Discount">
                            </div>
                            <div class="col-md-12" style="padding-top: 12px;">
                                <label>Expire date</label>
                                <input type="date" [(ngModel)]="expired_at" class="form-control" placeholder="Expire date">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label>Descriptions</label>
                        <textarea rows="5" cols="5" [(ngModel)]="descriptions" class="form-control"
                            placeholder="Enter here..."></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary btn-round float-right" (click)="manage()">{{id == '' ? 'Submit' : 'Update'}}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>