# HERE ARE THE KEY TO IGNORE FILES OR SPECIFIC PATHS.
#
# Files in ANY path: 
#   *.ext
# Root Folders: 
#   node_modules/
# Folder or File with the same pre-name: 
#   wp-content/plugins/learnpress*/
# Ignore everything in a path except:
#   wp-content/*
#   !wp-content/plugins/
#   !wp-content/themes/sample-theme/
#

*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

#files new uploads
files/*
!files/system/

#PRE-INSTALLATION
#application/config/config.php
#application/config/database.php
#index.php