
 <ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="orders">
      <ion-icon name="cart"></ion-icon>
      <ion-label> {{util.getString('Orders')}} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      <ion-label> {{util.getString('Message')}} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reviews">
      <ion-icon name="star"></ion-icon>
      <ion-label> {{util.getString('Review')}} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analytics">
      <ion-icon name="analytics"></ion-icon>
      <ion-label> {{util.getString('Analytics')}} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="accounts">
      <ion-icon name="person"></ion-icon>
      <ion-label> {{util.getString('Account')}} </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>