<!--
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>

<ng-template #contentStore let-modal>
    <div class="modal-header">
       <h4 class="modal-title" id="modal-basic-title">{{util.getString('Select Store')}} </h4>
       <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <div class="modal-body">
       <div class="form-group row">
          <div class="col-sm-12">
             <label>{{util.getString('Search a Store')}} </label>
             <input type="text" class="form-control" style="background: transparent !important;" [(ngModel)]="storeString" 
                placeholder="Search..." (ngModelChange)="filterStore($event)" (keydown.enter)="searchStore()">
          </div>
       </div>
 
       <div class="form-group row">
          <div class="col-sm-12">
             <div *ngFor="let item of stores" (click)="choosenId = item.uuid" class="store-dropdown-items">
                <i class="ti-check-box" *ngIf="item.uuid === choosenId"></i>
                <p style="margin: 0px;"> {{item.name}}</p>
             </div>
          </div>
       </div>
 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="clear4()">{{util.getString('Clear')}} </button>
       <button type="button" class="btn btn-outline-dark" (click)="confirm()">{{util.getString('Confirm')}} </button>
    </div>
 </ng-template>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>All Products</h5>
            </div>
            <div class="card-body reset-table p-t-0">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <button style="float: right;" type="button" (click)="createNew()"
                            class="btn btn-danger" style="float: left; padding: 5px 15px;">+ CREATE</button>
                    </div>
                    <div *ngIf="template_term!=''" class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <select name="select" [(ngModel)]="template_term" (ngModelChange)="searchTemplate()" class="form-control">
                            <option value=''> {{util.getString('Regular')}} </option>
                            <option value='template'> {{util.getString('Template')}} </option>
                        </select>
                    </div>
                    <div *ngIf="template_term==''" class="col-sm-3" (click)="openStore()" style="margin-bottom: 12px;">
                        <input style="background: transparent !important;" type="text" disabled="true" [(ngModel)]="storeName"
                            class="form-control" [placeholder]="util.getString('Filter by Store')">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText"
                            (input)="filter($event.target.value)" (keydown.enter)="search()">
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-uppercase">
                                <th>Cover</th>
                                <th>Details</th>
                                <th>Price</th>
                                <th>Stock</th>
                                <th>Featured</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dummy;">
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                                <td>
                                    <ngx-skeleton-loader count="1"
                                        [theme]="{ 'border-radius': '5px', height: '10px', border: '1px solid white' }">
                                    </ngx-skeleton-loader>
                                </td>
                            </tr>
                            <tr
                                *ngFor="let item of products | paginate: {id:'pagin1', itemsPerPage: 10, currentPage: page };let i = index;">
                                <td>
                                    <a href="javascript:;">
                                        <img class="img-responsive" style="object-fit: cover; height: 75px; width: 75px;"
                                            [src]="api.mediaURL+item.cover" onError="this.src='assets/images/product.png'" alt="chat-user">
                                    </a>
                                </td>
                                <td>
                                    <p style="display: block; margin: 0;">
                                        <strong>Name: </strong>{{ (item.name.length>30)? (item.name | slice:0:30)+'...':(item.name) }}
                                    </p>
                                    <p style="display: block; margin: 0;">
                                        <strong>Verified: </strong>{{item.verified_at !== null ? item.verified_at : 'In Progress'}}
                                    </p>
                                    <p style="display: block; margin: 0;" *ngIf="template_term==''">
                                        <strong>Store: </strong>
                                        <a href="javascript:;" (click)="goToStore(item)" style="color: #eb4291;">
                                            {{ (item.store_name.length>25)? (item.store_name | slice:0:25)+'...':(item.store_name?item.store_name:'Not Assigned') }}
                                        </a>
                                    </p>
                                    <p style="display: block;" *ngIf="template_term==''">
                                        <strong>Template: </strong>
                                        <a href="javascript:;" (click)="goToTemplate(item)" style="color: #eb4291;">
                                            {{ item.template ? item.template_name : 'Custom' }}
                                        </a>
                                    </p>
                                </td>
                                <td> 
                                    {{this.util.currecny}}{{util.getSellPrice(item)}} 
                                    {{util.getDiscountText(item)==''?'':'('}} {{util.getDiscountText(item)}} {{util.getDiscountText(item)==''?'':')'}}
                                </td>
                                <td>
                                    <span [className]="getClass(item.in_stock)">{{item.in_stock === '1' ? 'Yes':'No'}}</span>
                                </td>
                                <td>
                                    <span [className]="getClass(item.is_featured)">{{item.is_featured === '1' ? 'Yes':'No'}}</span>
                                </td>
                                <td>
                                    <button type="button" (click)="changeStatus(item)" [className]="getClass(item.status)" 
                                        (click)="changeStatus(item)">{{item.status === '1' ? 'Active':'Inactive'}}</button>
                                </td>
                                <td><button type="button" (click)="manage(item)"
                                        class="btn btn-info btn-round btn-outline-info">Manage</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="has-text-centered">
                    <pagination-controls id="pagin1" (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<ng2-toasty></ng2-toasty>