<!--
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>Company Info </h5>
            </div>
            <div class="card-body reset-table p-t-0">

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Contact Number</label>
                        <input type="text" [(ngModel)]="mobile" class="form-control" placeholder="Contact Number">
                    </div>
                    <div class="col-sm-6">
                        <label>Contact Email</label>
                        <input type="email" [(ngModel)]="email" class="form-control" placeholder="Contact Email">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Address</label>
                        <input type="text" [(ngModel)]="address" class="form-control" placeholder="Address">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <label>City</label>
                        <input type="text" [(ngModel)]="city" class="form-control" placeholder="City">
                    </div>
                    <div class="col-sm-3">
                        <label>Province</label>
                        <input type="text" [(ngModel)]="state" class="form-control" placeholder="Province">
                    </div>
                    <div class="col-sm-3">
                        <label>Zipcode</label>
                        <input type="number" [(ngModel)]="zip" class="form-control" placeholder="Zipcode">
                    </div>
                    <div class="col-sm-3">
                        <label>Country</label>
                        <input type="text" [(ngModel)]="country" class="form-control" placeholder="Country">
                    </div>
                </div>

            </div>

            <div class="card-body">
                <h5>ORDER / DELIVERY</h5>
            </div>

            <div class="card-body reset-table p-t-0">

                <div class="form-group row">
                    <div class="col-sm-4">
                        <label>Minimum Order</label>
                        <input type="number" [(ngModel)]="min" class="form-control" placeholder="Minimum Order">
                    </div>
                    <div class="col-sm-4">
                        <label>Free Shipping</label>
                        <input type="number" [(ngModel)]="free" class="form-control"
                            placeholder="Free Shipping on order price">
                    </div>
                    <div class="col-sm-4">
                        <label>Order Tax</label>
                        <input type="number" [(ngModel)]="tax" class="form-control" placeholder="Order Tax">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Shipping Fee </label>
                        <select name="select" [(ngModel)]="shipping" class="form-control">
                            <option value="fixed">Fixed Fee</option>
                            <option value="km">Per KM Fee</option>
                        </select>
                    </div>
                    <div class="col-sm-6" *ngIf="shipping ==='fixed'">
                        <label>Per Delivery price</label>
                        <input type="number" [(ngModel)]="shippingPrice" class="form-control" placeholder="Fixed price">
                    </div>
                    <div class="col-sm-6" *ngIf="shipping ==='km'">
                        <label>Per KM price</label>
                        <input type="number" [(ngModel)]="shippingPrice" class="form-control"
                            placeholder="Per KM price">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary btn-round float-right" (click)="submit()">Update</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<ng2-toasty></ng2-toasty>