<!--
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
 -->

<div class="row">
    <!-- counter-card-1 start-->
    <div class="col-md-6 col-xl-3">
        <app-card [cardClass]="'counter-card-1'" [blockClass]="'card-body-big'">
            <div class="row" (click)="openIt('orders')" style="cursor: pointer;">
                <div class="col-6 counter-card-icon">
                    <i class="icofont icofont-basket"></i>
                </div>
                <div class="col-6  text-right">
                    <div class="counter-card-text">
                        <h3> {{dash_head.totol_completed_orders}} </h3>
                        <p>{{api.translate('Orders')}} </p>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <!-- counter-card-1 end-->

    <!-- counter-card-2 start -->
    <div class="col-md-6 col-xl-3">
        <app-card [cardClass]="'counter-card-2'" [blockClass]="'card-body-big'">
            <div class="row" (click)="openIt('users')" style="cursor: pointer;">
                <div class="col-6 counter-card-icon">
                    <i class="icofont icofont-users"></i>
                </div>
                <div class="col-6 text-right">
                    <div class="counter-card-text">
                        <h3> {{dash_head.totol__customers}} </h3>
                        <p>{{api.translate('Customers')}} </p>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <!-- counter-card-2 end -->

    <!-- counter-card-3 start -->
    <div class="col-md-6 col-xl-3">
        <app-card [cardClass]="'counter-card-3'" [blockClass]="'card-body-big'">
            <div class="row" (click)="openIt('stores')" style="cursor: pointer;">
                <div class="col-6 counter-card-icon">
                    <i class="icofont icofont-cubes"></i>
                </div>
                <div class="col-6 text-right">
                    <div class="counter-card-text">
                        <h3> {{dash_head.totol_active_products}} </h3>
                        <p>{{api.translate('Products')}} </p>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <!-- counter-card-3 end -->

    <!-- counter-card-4 start -->
    <div class="col-md-6 col-xl-3">
        <app-card [cardClass]="'counter-card-4'" [blockClass]="'card-body-big'">
            <div class="row" (click)="openIt('stores')" style="cursor: pointer;">
                <div class="col-6 counter-card-icon">
                    <i class="icofont icofont-comment"></i>
                </div>
                <div class="col-6 text-right">
                    <div class="counter-card-text">
                        <h3> {{dash_head.totol_reviews}} </h3>
                        <p>{{api.translate('Reviews')}} </p>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
    <!-- counter-card-4 end -->
</div>

<div class="row">
    <div class="col-md-8">
        <app-card [blockClass]="'card-body-big'">
            <h4>Annual Sales Report</h4>
            <div style="display: block;">
                <canvas baseChart height="120"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="'bar'">
                </canvas>
            </div>
        </app-card>
    </div>
    <div class="col-md-4">
        <app-card [blockClass]="'card-body-big'">
            <h4>Top 10 Customers</h4>
            <div style="display: block;">
                <canvas baseChart width="85" height="85"
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [options]="pieChartOptions"
                    [colors]="pieChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="'pie'">
                </canvas>
            </div>
        </app-card>
    </div>
</div>

<div class="flex">
    <app-card [cardClass]="'counter-card-12'" [blockClass]="'card-body-big'">
        <h4>Montly Sales Report</h4>
        <div style="display: block;">
            <canvas baseChart height="120"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="'line'">
            </canvas>
        </div>
    </app-card>
</div>