<!-- 

  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020

 -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{util.getString('Collaborations')}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item *ngFor="let item of dummy">
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <div class="main" *ngIf="categories?.length && !dummy?.length">

    <div class="flex_main" *ngFor="let item of categories">
      <div class="flex_div" (click)="change(item.uuid)">
        <div class="cateIcon" [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/category.png)'}" 
          style="background-size: cover; background-repeat: no-repeat; border-radius: 50%;"></div>
        <div class="detail_div">
          <ion-label class="title_name" [class.boldFont]="selectedIndex === item.uuid">{{item.name}}</ion-label>
        </div>
        <ion-icon name="chevron-down-outline" class="arrow"></ion-icon>
      </div>

      <div class="details" *ngIf="selectedIndex === item.uuid">
        <div class="inlnes" *ngFor="let sub of item.subCates" (click)="goToProductList(sub)">
          <ion-label class="titles" [class.boldFont]="subIndex === sub.uuid">{{sub.name}}</ion-label>
        </div>

      </div>
    </div>

  </div>
</ion-content>