/*
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
*/
ion-tab-bar {
  height: 65px;
  ion-tab-button {        
    ion-label {  
        font-size: 11px;
    }
  }
}