<!-- 

  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020

 -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Top Stores</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar mode="ios" *ngIf="haveSearch" (ionCancel)="search()" [placeholder]="util.getString('Search')"
    type="text" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always" 
    style="background-color: var(--ion-color-light); color: var(--ion-color-dark);">
  </ion-searchbar>
</ion-header>

<ion-content #content style="margin-top: 20px;">
  <div style="padding-bottom: 100px;">
    <ion-row>
      <ion-col size="6" *ngFor="let item of dummy" style="margin: 5px 0 0;">
        <div style="border: .50px solid lightgray; ">
          <ion-skeleton-text animated style="width: 100%;height:120px"></ion-skeleton-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="position: relative;">
      <ion-col *ngFor="let item of stores;let i = index;" text-center size="6" style="margin: 5px 0 0;">
        <div style="border: .50px solid lightgray; ">
          <div class="productimage" (click)="openStore(item)"
            [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/product.png)'}">
            <div *ngIf="!item.isOpen || item.isClosed == '1'" class="statusCheck">
              <ion-label class="text"> {{util.getString('Store Closed')}}</ion-label>
            </div>
          </div>
          <ion-label class="producttext" (click)="openStore(item)" style="padding: 5px 4px 0;">
            {{ util.safeText(item.name, 25, true, '') }}
          </ion-label>
          <ion-label class="itemsKind" style="padding: 5px 4px 0;">
            <span>{{ util.safeText(item.address, 55, true, 'Address not yet set...') }}</span>
          </ion-label>
          <div class="btnBtm" style="padding: 5px;">
            <div class="ion-activatable ripple-parent" (click)="openStore(item)">
              {{util.getString('View Store')}}
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Please wait...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>