<!-- 

  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020

 -->

<ion-content>
  <div class="main_content">
    <div class="header_image" [ngStyle]="{'background-image':'url('+api.mediaURL+(store!=null?store.cover:'')+'),url(assets/imgs/store.png)'}">
      <div class="overlay_div">
          <div class="icn_flex">
            <button (click)="back()" style="background: none;">
              <ion-icon name="arrow-back" style="margin-right: 12px; font-size: 30px; color: #c82180;"></ion-icon>
            </button>
          </div>
          <!-- <div class="user_back" [style.backgroundImage]="'url(assets/imgs/user.png)'"></div>
          <ion-label class="name_lbl">{{store.owner_name}}</ion-label>
          <ion-label class="white_lbl">Lorem Ipsum is simply dummy text of the printing</ion-label> -->
      </div>
    </div>
    <div class="content_div">
      <div class="white_box" style="margin-top: -50px;">
        <div class="item_div">
          <ion-icon name="business" class="first_icn"></ion-icon>
          <ion-label>{{ util.safeText(store!=null?store.name:'', 29, true, 'Unnamed Store') }}</ion-label>
        </div>
        <div class="item_div">
            <ion-icon name="mail" class="first_icn"></ion-icon>
            <ion-label>{{ util.safeText(store!=null?store.email:'', 29, true, 'No email address') }}</ion-label>
        </div>
        <div class="item_div" style="border: 0px;">
            <ion-icon name="phone-portrait" class="first_icn"></ion-icon>
            <ion-label>{{ util.safeText(store!=null?store.phone:'', 29, true, 'No phone number') }}</ion-label>
        </div>
      </div>
      <div class="white_box" *ngIf="products?.length">
        <ion-searchbar mode="ios" (ionCancel)="search()" [placeholder]="util.getString('Search')" type="text" [debounce]="250"
           (ionChange)="onSearchChange($event)" class="item_div">
        </ion-searchbar>
        <div class="topHeader" style="background-color: #fff0;">
          <p class="itemsFound">
            {{products.length}} {{util.getString('Items')}}
          </p>
          <div class="filterContain">
            <ion-button (click)="changeMode()" color="primary" size="small">
              <ion-icon slot="icon-only" [name]="mode ==='list' ? 'apps' :'list'"></ion-icon>
            </ion-button>
            <ion-button (click)="filter($event)" color="primary" size="small">
              <ion-icon slot="start" name="options"></ion-icon>
              {{util.getString('Filter')}} {{selectedFilter}}
            </ion-button>
            <ion-button (click)="priceFilter()" color="primary" size="small">
              <ion-icon slot="icon-only" name="filter"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </div>

    <ion-row>
      <ion-col size="6" *ngFor="let item of dummy">
        <ion-skeleton-text animated style="width: 100%;height: 100px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%;height: 10px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 50%;height: 10px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%;height: 10px;"></ion-skeleton-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mode === 'grid'">
      <ion-col size="6" *ngFor="let item of products;let i = index;">
        <div style="margin-bottom: 10px;">
          <div class="back_image" [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/product.png)'}"
            (click)="singleProduct(item)">
            <div class="percent" *ngIf="item.discount_type !== 'none' && item.discount > 0"> 
              <span style="display: flex;
              font-weight: bold;
              color: white;
              top: 8px;
              left: 22px;
              position: absolute;
              font-size: 15px;">{{+item.discount}}</span> 
            </div>
            <div *ngIf="item.in_stock === '0'" class="notInStock">
              <ion-label class="text"> {{util.getString('Out of Stock')}} </ion-label>
            </div>
            <img src="assets/imgs/normal.png" class="kind" alt="Verified" *ngIf="item.verified_at == null">
            <img src="assets/imgs/verified.png" class="kind" alt="Normal" *ngIf="item.verified_at != null">
          </div>
          <div class="second_div">
            <ion-label class="name_lbl" (click)="singleProduct(item)">
              {{ util.safeText(item.name, 20, true, '') }}
            </ion-label>
            <ion-label class="itemsKind">
              <span *ngIf="item.have_gram === '1'"> {{item.gram}} {{util.getString('g')}} </span>
              <span *ngIf="item.have_kg === '1'"> {{item.kg}} {{util.getString('kg')}} </span>
              <span *ngIf="item.have_liter ==='1'"> {{item.liter}} {{util.getString('ltr')}} </span>
              <span *ngIf="item.have_ml ==='1'"> {{item.ml}} {{util.getString('ml')}} </span>
              <span *ngIf="item.have_pcs === '1'"> {{item.pcs}} {{util.getString('pc(s)')}} </span>
            </ion-label>
            <div>
              <ion-label class="pro_price" style="color: #c82180" (click)="singleProduct(item)">
                {{util.currecny}} {{ item.sell_price }}
              </ion-label>
              <ion-label *ngIf="item.discount_type !=='none' && item.discount > 0" class="pro_discount" style="font-size: 12px;" (click)="singleProduct(item)">
                <label style="text-decoration: line-through;;">
                  {{util.currecny}} {{ item.orig_price }}
                </label> 
                ({{ item.discount_type == 'percent' ? '' : util.currecny }} 
                {{ item.discount_type == 'percent' ? item.discount : item.discount }}
                {{ item.discount_type == 'percent' ? '%' : 'off' }})
              </ion-label>
            </div>
            <div *ngIf="item.variations" class="variant">
              <ion-label *ngFor="let parent_var of item.variations;let pvar_id = index;" (click)="variant(item,pvar_id)" class="selecter ion-activatable">
                <span style="width: -webkit-fill-available; padding: 2px 5px;">
                  <span style="font-size: 14px;"> 
                    {{ parent_var && parent_var.items[parent_var.current].title ? ' * ' + parent_var.items[parent_var.current].title : ''}} &nbsp;&nbsp; 
                  </span>
                  <span class="price_lbl" style="float: right; padding-right: 10px;"> 
                    <span *ngIf="parent_var.items[parent_var.current].price == 0 && parent_var.items[parent_var.current].discount == 0">
                      FREE
                    </span>
                    <span *ngIf="parent_var.items[parent_var.current].price > 0 && parent_var.items[parent_var.current].discount == 0">
                      {{util.cside ==='left' ? util.currecny : "" }}
                      {{parent_var.items[parent_var.current].price.toFixed(2)}}
                      <!-- TODO: {{util.cside ==='right' ? "" : util.currecny }} -->
                    </span>
                    <span *ngIf="parent_var.items[parent_var.current].price > 0 && parent_var.items[parent_var.current].discount > 0">
                      {{util.cside ==='left' ? util.currecny : "" }}
                      {{
                        (parent_var.items[parent_var.current].price - (parent_var.items[parent_var.current].price*(parent_var.items[parent_var.current].discount/100))).toFixed(2)
                      }}
                      <!-- TODO: {{util.cside ==='right' ? "" : util.currecny }} -->
                    </span>
                  </span>
                </span>
                <ion-icon slot="start" name="caret-down-outline"></ion-icon>
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
              </ion-label>
            </div>
            <div class="btnBtm"
              *ngIf="!cart.checkProductInCart(item.uuid) && item.quantity <= 0 && item.in_stock === '1' && storeIsActive === true">
              <div class="ion-activatable ripple-parent" (click)="addToCart(item,i)">
                {{util.getString('Add to Cart')}}
                <ion-ripple-effect></ion-ripple-effect>
              </div>
            </div>
            <div *ngIf="item.in_stock !== '1'" style="height:30px"></div>
            <div class="cartBtn" *ngIf="cart.checkProductInCart(item.uuid)">
              <div class="abs_add">
                <img src="assets/imgs/remove.png" (click)="remove(item,i)">
                <ion-label *ngIf="item.quantity !== 0">{{item.quantity}}</ion-label>
                <ion-label *ngIf="item.quantity === 0">
                  <ion-spinner name="circles" color="light"></ion-spinner>
                </ion-label>
                <img src="assets/imgs/add.png" (click)="add(item,i)">
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <div *ngIf="mode ==='list'">
      <div class="card_div" *ngFor="let item of products;let i = index">
        <div class="back_image" [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/imgs/product.png)'}"
          (click)="singleProduct(item)">
          <div class="percent" *ngIf="item.discount_type !== 'none' && item.discount > 0"> 
            <span style="display: flex;
            font-weight: bold;
            color: white;
            top: 5px;
            left: 12px;
            position: absolute;
            font-size: 14px;">{{+item.discount}}</span> 
          </div>
          <div *ngIf="item.in_stock === '0'" class="notInStock">
            <ion-label class="text"> {{util.getString('Out of Stock')}} </ion-label>
          </div>
        </div>
        <div class="second_div">
          <ion-label class="name_lbl">
            {{ item.name }}
          </ion-label>
          <img src="assets/imgs/normal.png" class="kind" alt="Verified" *ngIf="item.verified_at == null">
          <img src="assets/imgs/verified.png" class="kind" alt="Normal" *ngIf="item.verified_at != null">
          <img src="assets/imgs/offer.png" class="offer" alt="Offer" *ngIf="item.in_offer ==='1'">
          <ion-label class="itemsKind" *ngIf="item.variations">
            <span *ngIf="item.have_gram === '1'"> {{item.gram}} {{util.getString('g')}} </span>
            <span *ngIf="item.have_kg === '1'"> {{item.kg}} {{util.getString('kg')}} </span>
            <span *ngIf="item.have_liter ==='1'"> {{item.liter}} {{util.getString('ltr')}} </span>
            <span *ngIf="item.have_ml ==='1'"> {{item.ml}} {{util.getString('ml')}} </span>
            <span *ngIf="item.have_pcs === '1'"> {{item.pcs}} {{util.getString('pc(s)')}} </span>
          </ion-label>
          <div *ngIf="item.variations">
            <ion-label class="price_lbl" *ngIf="item.discount_type == 'none' || item.discount == '0' && util.cside ==='left'"> 
              {{util.currecny}}
              {{item.orig_price}} </ion-label>
            <ion-label class="price_lbl" *ngIf="item.discount_type == 'none' || item.discount == '0' && util.cside ==='right'">
              {{item.orig_price}}
              {{util.currecny}}
            </ion-label>
            <ion-label class="price_lbl" (click)="singleProduct(item)">
              <span class="original" *ngIf="item.discount > 0"> {{util.currecny}}{{item.orig_price}} </span>
              <span class="sell" style="color: #c82180;" >{{util.currecny}} {{item.sell_price}} </span>
            </ion-label>
          </div>
          <div *ngIf="item.variations" class="variant">
            <ion-label *ngFor="let parent_var of item.variations;let pvar_id = index;" (click)="variant(item,pvar_id)" class="selecter ion-activatable">
              <span style="width: -webkit-fill-available; padding: 2px 5px;">
                <span style="font-size: 14px;"> 
                  {{ parent_var && parent_var.items[parent_var.current].title ? ' * ' + parent_var.items[parent_var.current].title : ''}} &nbsp;&nbsp; 
                </span>
                <span class="price_lbl" style="float: right; padding-right: 10px;"> 
                  <span *ngIf="parent_var.items[parent_var.current].price == 0 && parent_var.items[parent_var.current].discount == 0">
                    FREE
                  </span>
                  <span *ngIf="parent_var.items[parent_var.current].price > 0 && parent_var.items[parent_var.current].discount == 0">
                    {{util.cside ==='left' ? util.currecny : "" }}
                    {{parent_var.items[parent_var.current].price.toFixed(2)}}
                    <!-- TODO: {{util.cside ==='right' ? "" : util.currecny }} -->
                  </span>
                  <span *ngIf="parent_var.items[parent_var.current].price > 0 && parent_var.items[parent_var.current].discount > 0">
                    {{util.cside ==='left' ? util.currecny : "" }}
                    {{
                      (parent_var.items[parent_var.current].price - (parent_var.items[parent_var.current].price*(parent_var.items[parent_var.current].discount/100))).toFixed(2)
                    }}
                    <!-- TODO: {{util.cside ==='right' ? "" : util.currecny }} -->
                  </span>
                </span>
              </span>
              <ion-icon slot="start" name="caret-down-outline"></ion-icon>
              <ion-ripple-effect type="bounded"></ion-ripple-effect>
            </ion-label>
          </div>
          <div class="btnBtm"
            *ngIf="!cart.checkProductInCart(item.uuid) && item.quantity <= 0 && item.in_stock === '1' && storeIsActive === true">
            <div class="ion-activatable ripple-parent" (click)="addToCart(item,i)">
              {{util.getString('Add to Cart')}}
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </div>
          <div class="cartBtn" *ngIf="cart.checkProductInCart(item.uuid)">
            <div class="abs_add">
              <img src="assets/imgs/remove.png" (click)="remove(item,i)">
              <ion-label>{{item.quantity}}</ion-label>
              <img src="assets/imgs/add.png" (click)="add(item,i)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="products.length > 0 && no_stores_follows === true" style="display: flex; flex-direction: column; margin: 20px 0 20px;">
      <p class="ion-text-center"> {{util.getString('- Nothing Follows -')}} </p>
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [style.background-color]="red">
      <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Please wait...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="products.length == 0 && no_stores_follows === true" style="display: flex; flex-direction: column;">
    <p class="ion-text-center"> {{util.getString('- No Products found -')}} </p>
  </div>
</ion-content>