/*
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020
*/
ion-tabs{
	ion-tab-bar {
		height: 65px;
		--border: 0;
		--background: var(--ion-color-light);
		ion-tab-button {
			--background: var(--ion-color-light);
			ion-label {  
				font-size: 11px;
			}
		}

	}
}

ion-icon{
	font-size: 20px;
}
