/*
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020
*/
.selectItem{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid lightgray;
    padding: 5px 0px;
    .imgs{
        height: 20px;
        width: 20px;
    }
    .name{
        font-size: 15px;
        margin: 0px;
        margin-left: 15px;
    }
}