/*
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
*/

ion-content {
    ion-row {
      height: 55px;
      margin-top: 10px;
      ion-col {
        ion-button {
          height: 40px;
        }
      }
    }
  }