<!--
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
 -->
<ngx-spinner type="ball-pulse-sync" color="#e74c3c">
    <p style="font-size: 20px; color: #e74c3c">{{api.translate('Please wait...')}} </p>
</ngx-spinner>

<ng-template #rt let-r="result" let-t="term">
    <img [src]="r.cover" class="mr-1" style="width: 25px; border-radius: 50%;">
    <ngb-highlight [result]="r.first_name +' '+ r.last_name" [term]="t" style="padding-left: 5px;"></ngb-highlight>
</ng-template>

<ng-template #ct let-r="result" let-t="term">
    <ngb-highlight [result]="r.name +', '+ r.province" [term]="t" style="padding-left: 5px;"></ngb-highlight>
</ng-template>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>
                    <span *ngIf="new">CREATE</span>
                    <span *ngIf="!new">EDIT</span>
                    Store 
                </h5>
                
                <button class="btn btn-info btn-round float-right" (click)="decideRequest('approve')" *ngIf="pending" style="margin-right: 15px;">
                    Approve
                </button>
                <button class="btn btn-danger btn-round float-right" (click)="decideRequest('reject')" *ngIf="pending" style="margin-right: 15px;">
                    Reject
                </button>
                <label class="float-right"  *ngIf="pending" style="margin-right: 20px; padding-top: 5px; color: #df1c77;">
                    <strong>There are pending store detail update request! </strong>
                </label>
            </div>
            <div class="card-body reset-table p-t-0">
                <div class="form-group row">
                    <div class="col-sm-4">
                        <img [src]="coverImage" alt="" style="height: 250px; width: 250px; object-fit: cover; padding-bottom: 20px;"
                            onError="this.src='assets/images/store.png'">
                        <input (change)="preview_banner($event.target.files)" type="file" class="form-control"
                            accept="image/*">
                        <img *ngIf="pending_cover" [src]="pending_cover" alt="" style="height: 200px; width: 200px; object-fit: cover; padding: 20px 10px 5px;"
                            onError="this.src='assets/images/store.png'">
                        <label *ngIf="pending_cover" style="padding-top: 5px; color: #e74c3c;"><strong>Pending:</strong> Cover Image...</label>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="sub-title">General</h4>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <label>Store Name</label>
                                <input type="text" [(ngModel)]="name" class="form-control" placeholder="Name...">
                                <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_name"><strong>Pending:</strong> {{pending_name}}</label>
                            </div>
                            <div class="col-sm-4">
                                <label>Brilliant Code</label>
                                <input type="text" [(ngModel)]="vcode" class="form-control" placeholder="Ex: CD001-01">
                                <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_vcode"><strong>Pending:</strong> {{pending_vcode}}</label>
                            </div>
                            <div class="col-sm-12">
                                <label style="margin-top: 10px;">Description</label>
                                <textarea [(ngModel)]="descritions" rows="5" cols="5" class="form-control"
                                    placeholder="Description..."></textarea>
                                <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_description"><strong>Pending:</strong> {{pending_description}}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label>{{util.getString('Featured')}} </label>
                                <select name="select" [(ngModel)]="is_featured" class="form-control">
                                    <option value='0'>{{util.getString('Regular')}} </option>
                                    <option value='1'>{{util.getString('Featured')}} </option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>{{util.getString('Field Status')}} </label>
                                <select name="select" [(ngModel)]="isClosed" class="form-control">
                                    <option value='1'>{{util.getString('Closed')}} </option>
                                    <option value='0'>{{util.getString('Open')}} </option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label> {{util.getString('Status')}}</label>
                                <select name="select" [(ngModel)]="status" class="form-control">
                                    <option value='0'>{{util.getString('Unavailable')}} </option>
                                    <option value='1'>{{util.getString('Available')}} </option>
                                </select>
                            </div>
                        </div>

                        <h4 class="sub-title" style="margin-top: 30px;">Assignment</h4>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label style="margin-top: 10px;">Select city</label>
                                <input id="typeahead-basic" type="text" class="form-control" 
                                [(ngModel)]="searchCityTerm" [editable]='false' [ngbTypeahead]="searchCity" (keyup.enter)="checkCity()"
                                [resultFormatter]="resultFormatBandListValueCity" [inputFormatter]="inputFormatBandListValueCity" [resultTemplate]="ct"/>
                            </div>
                            <div class="col-sm-6">
                                <label style="margin-top: 10px;">Select owner</label>
                                <input id="typeahead-basic" type="text" class="form-control" 
                                [(ngModel)]="searchTerm" [editable]='false' [ngbTypeahead]="search" (keyup.enter)="checkUser()"
                                [resultFormatter]="resultFormatBandListValue" [inputFormatter]="inputFormatBandListValue" [resultTemplate]="rt"/>
                            </div>
                            <div class="col-sm-4">
                                <label style="margin-top: 15px;">Commision (%)</label>
                                <input [(ngModel)]="commission" type="number" class="form-control"
                                    placeholder="0.00">
                            </div>
                            <div class="col-sm-4">
                                <label style="margin-top: 15px;">Opening Time</label>
                                <input [(ngModel)]="openTime" type="time" class="form-control" placeholder="Opening Time">
                                <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_open"><strong>Pending:</strong> {{pending_open}}</label>
                            </div>
                            <div class="col-sm-4">
                                <label style="margin-top: 15px;">Closing Time</label>
                                <input [(ngModel)]="closeTime" type="time" class="form-control" placeholder="Closing Time">
                                <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_close"><strong>Pending:</strong> {{pending_close}}</label>
                            </div>
                        </div>

                        <h4 class="sub-title" style="margin-top: 30px;">External</h4>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label>Lazada</label>
                                <input type="text" [(ngModel)]="lazada" class="form-control" placeholder="Optional!">
                                <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_lazada"><strong>Pending:</strong> {{pending_lazada}}</label>
                            </div>
                            <div class="col-sm-6">
                                <label>Shopee</label>
                                <input type="text" [(ngModel)]="shopee" class="form-control" placeholder="Optional!">
                                <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_shopee"><strong>Pending:</strong> {{pending_shopee}}</label>
                            </div>
                        </div>

                        <h4 class="sub-title" style="margin-top: 30px;">Contacts</h4>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label style="margin-top: 10px;">Email Address</label>
                                <input type="text" [(ngModel)]="store_email" class="form-control" placeholder="Email...">
                                <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_email"><strong>Pending:</strong> {{pending_email}}</label>
                            </div>
                            <div class="col-sm-6">
                                <label style="margin-top: 10px;">Phone Number</label>
                                <input [(ngModel)]="store_phone" type="text" class="form-control" placeholder="Phone...">
                                <label style="padding-top: 5px; color: #e74c3c;" *ngIf="pending_phone"><strong>Pending:</strong> {{pending_phone}}</label>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary btn-round float-right" (click)="createStore()" *ngIf="new">
                            Create Store
                        </button>
                        <button class="btn btn-primary btn-round float-right" (click)="updateStore()" *ngIf="!new">
                            Update Store
                        </button>
                        <button class="btn btn-primary btn-round float-right" (click)="editAddress(!storeAddress)" *ngIf="!storeAddress" style="margin-right: 15px;">
                            Add Address
                        </button>
                        <button class="btn btn-primary btn-round float-right" (click)="editAddress(storeAddress)" *ngIf="storeAddress" style="margin-right: 15px;">
                            Edit Address
                        </button>
                        <button class="btn btn-primary btn-round float-left" (click)="goBack()">
                            Go Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row" *ngIf="!new">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body-big card-status">
                <h5>Income Status</h5>
                <div class="card-body text-center">
                    <h2 class="text-primary">ORDERS : {{orders.length}}</h2>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="f-16 text-muted m-0">Total Income : {{getCurrency()}} {{totalSales}}
                        </p>
                    </div>
                    <div class="col-6">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body-big card-status">
                <h5>Orders & Reviews</h5>
                <ngb-tabset>
                    <ngb-tab title="Orders">
                        <ng-template ngbTabContent>
                            <div class="orders">
                                <div class="card_div" *ngFor="let item of orders">

                                    <div class="resto_detail">
                                        <div class="back_image"
                                            [style.backgroundImage]="'url('+api.mediaURL+item.orders[0].cover+')'">
                                        </div>
                                        <div style="margin-left: 20px;">
                                            <p class="res_name">Ordered {{item.store_id.length}} stores </p>
                                            <p class="res_location" *ngIf="item.address">
                                                {{item.address.address}}
                                            </p> <br>
                                            <p class="res_location" *ngIf="!item.address"> At Store </p>
                                        </div>
                                    </div>
                                    <div class="line_div"></div>
                                    <div class="order_detail">
                                        <p class="head_gray">ITEMS</p>
                                        <div class="small_lbl">
                                            <span *ngFor="let order of item.orders;let ol = index">
                                                <div class="border_bottom">
                                                    <span *ngIf="!order.size">{{order.name}} -
                                                        <span *ngIf="order.have_gram === '1'"> {{order.gram}} grams
                                                        </span>
                                                        <span *ngIf="order.have_kg === '1'"> {{order.kg}} kg </span>
                                                        <span *ngIf="order.have_liter ==='1'"> {{order.liter}} ltr
                                                        </span>
                                                        <span *ngIf="order.have_ml ==='1'"> {{order.ml}} ml</span>
                                                        <span *ngIf="order.have_pcs === '1'"> {{order.pcs}} pcs </span>
                                                        <span>
                                                            $
                                                            {{order.discount ==='0' ? order.original_price :
                                                            order.sell_price}}
                                                        </span>

                                                    </span>
                                                    <span *ngIf="order.size ==='0'">{{order.name}} -
                                                        <span *ngIf="order.have_gram === '1'"> {{order.gram}} grams
                                                        </span>
                                                        <span *ngIf="order.have_kg === '1'"> {{order.kg}} kg </span>
                                                        <span *ngIf="order.have_liter ==='1'"> {{order.liter}} ltr
                                                        </span>
                                                        <span *ngIf="order.have_ml ==='1'"> {{order.ml}} ml</span>
                                                        <span *ngIf="order.have_pcs === '1'"> {{order.pcs}} pcs </span>
                                                    </span>
                                                    <span *ngIf="order.size ==='1'">
                                                        {{order.name}} -
                                                        <span> {{order.variations[0].items[order.variant].title}}
                                                            <span>
                                                                $
                                                                {{order.variations[0].items[order.variant].discount &&
                                                                order.variations[0].items[order.variant].discount !==0
                                                                &&
                                                                order.variations[0].items[order.variant].discount !=='0'
                                                                ? order.variations[0].items[order.variant].discount :
                                                                order.variations[0].items[order.variant].price }}
                                                            </span>

                                                        </span>
                                                    </span>
                                                    <span *ngIf="order.size ==='0'">
                                                        <span>
                                                            $
                                                            {{order.discount ==='0' ? order.original_price :
                                                            order.sell_price}}
                                                        </span>

                                                    </span>
                                                    <span>X {{order.quantiy}}</span>
                                                </div>


                                            </span>
                                        </div>
                                        <p class="head_gray">ORDERED ON</p><br>
                                        <p class="small_lbl">{{getDate(item.time)}} </p> <br>
                                        <p class="head_gray" *ngIf="item.coupon_code"> <br>
                                            Discount</p>
                                        <p class="small_lbl" *ngIf="item.coupon_code"> <br>
                                            ${{item.discount}}
                                        </p> <br>
                                        <p class="head_gray">TOTAL AMOUNT</p> <br>
                                        <p class="small_lbl">${{item.grand_total}}</p>
                                    </div>

                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Reviews">
                        <ng-template ngbTabContent>
                            <div class="review">
                                <div class="row" *ngFor="let item of reviews"
                                    style="border-bottom: 1px solid lightgray;padding: 10px;">
                                    <div class="col-md-2">
                                        <img height="50" width="50" [src]="api.mediaURL+item.cover" alt=""
                                            onError="this.src='assets/images/store.png'">
                                    </div>
                                    <div class="col-md-10">
                                        <p style="font-weight: bold;"> {{item.fname}} {{item.lname}} </p> <br>
                                        <p> {{item.msg}} </p> <br>
                                        <p>{{item.timestamp}}</p> <br>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div> -->

<ng2-toasty></ng2-toasty>