/*
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020
*/
.mainContent{
    padding: 10px;
    p{
        margin: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid lightgray;
    }
}