/*
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
*/
.mainContent{
    padding: 10px;
    p{
        margin: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid lightgray;
    }
}