/*
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020
*/
.couponDesc{
    margin: 0px;
    .code{
        font-weight: bold;
        font-size: 14px;
    }
    .desc{
        font-size: 12px;
    }
}