<!-- 

  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020

 -->
<ion-header>
  <ion-toolbar style="--background: var(--ion-color-primary); color: var(--ion-color-primary-contrast);;">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> {{util.getString('Profile')}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="edit_flag = !edit_flag" *ngIf="edit_flag" disabled>
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
      <ion-button (click)="update()" *ngIf="!edit_flag" disabled>
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <div class="main_div">

      <div class="info_div">
        <div class="user_img" [ngStyle]="{'background-image':'url('+api.mediaURL+user.getCurrent.cover+'),url(assets/imgs/user.png)'}"
          (click)="updateProfile()">
        </div>

        <div class="name">
          <div class="image_div">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <div class="content_div">
            <span>{{util.getString('First name')}}: </span>
            <ion-input type="text" [disabled]="edit_flag" [placeholder]="util.getString('First name')"
              [(ngModel)]="user.getCurrent.first_name">
            </ion-input>
          </div>
        </div>

        <div class="name">
          <div class="image_div">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <div class="content_div">
            <span>{{util.getString('Last name')}}: </span>
            <ion-input type="text" [disabled]="edit_flag" [placeholder]="util.getString('Last name')"
              [(ngModel)]="user.getCurrent.last_name">
            </ion-input>
          </div>
        </div>

        <div class="name">
          <div class="image_div">
            <ion-icon name="mail-outline"></ion-icon>
          </div>
          <div class="content_div">
            <span>{{util.getString('Email')}}: </span>
            <ion-input type="text" [disabled]="true" [placeholder]="util.getString('Email')" [(ngModel)]="user.getCurrent.email">
            </ion-input>
          </div>
        </div>

        <div class="name">
          <div class="image_div">
            <ion-icon name="call-outline"></ion-icon>
          </div>
          <div class="content_div">
            <span>{{util.getString('Mobile')}}: </span>
            <ion-input type="text" [disabled]="edit_flag" [placeholder]="util.getString('Mobile')" [(ngModel)]="user.getCurrent.phone">
            </ion-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>