<!-- 

  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  App Name : Galyon App
  Created : 01-Sep-2020

 -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title> {{util.getString('Select City')}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p *ngIf="!dummy?.length && !cities?.length" class="ion-text-center"> {{util.getString('No Cities Found')}} </p>
  <ion-item *ngFor="let item of dummy">
    <ion-label>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-radio-group [(ngModel)]="id">
      <ion-item *ngFor="let item of cities">
        <ion-label>{{item.name}}</ion-label>
        <ion-radio [value]="item.id" mode="md"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="cities.length && id">
    <ion-fab-button (click)="selected()">
      <ion-icon name="checkmark" *ngIf="!clicked"></ion-icon>
      <ion-spinner name="circles" *ngIf="clicked"></ion-spinner>
    </ion-fab-button>
  </ion-fab>
</ion-content>