/*
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
*/
.coupones{
    display: flex;
    padding: 20px 10px;
    background: var(--ion-color-light);
    margin-top: 10px;
    .badge{
        width: 60px;
        height: auto;
    }
    .title{
        padding: 10px;
        color: var(--ion-color-primary);;
    }
}
.billing{
    padding: 5px 10px;
    .singleRow{
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        border-bottom: 1px dashed lightgray;
        .headerTitle{
            font-size: 0.8rem;
        }
        .boldClass{
            font-weight: bold;
        }
        .headerTotal{
            font-size: 1rem;
        }
        .priceTotal{
            font-size: 1rem;
        }
        .price{
            font-size: 0.8rem;
        }
    }
}

.header{
    background: var(--ion-color-light);
    padding: 20px;
    margin: 20px 0;
    .title{
        font-size: 1rem;
        font-weight: bold;
    }
}