/*
  Name: Galyon App
  Authors : Bytes Crafter
  Website : https://bytescrafter.net
  Created : 01-Jan-2021
*/
.inputType{
    margin-bottom: 10px;
    padding:0px 5px;
    box-shadow: 0px 0px 20px -3px rgba(30, 98, 255, 0.3);  
}

ion-datetime {
    --padding-start:0px;
}
.btn_addcard{
    
}